<template>
  <div class="date-interval">
    <span class="date">{{ date }}</span>
    <div class="road">
      <div class="point"></div>
      <div class="line first"></div>
      <i class="bi bi-camera-fill"></i>
      <div class="line last"></div>
      <div class="point"></div>
    </div>
    <div class="hours">
      <span>{{ formatDate(firstDate, 'HH[h]mm') }}</span>
      <span class="duration">{{ formatDuration() }}</span>
      <span>{{ formatDate(lastDate, 'HH[h]mm') }}</span>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue'
import { formatDate, durationCalc } from '@/utils/dates'
import moment from 'moment'
const props = defineProps({
  firstDate: { type: Date, default: null },
  lastDate: { type: Date, default: null }
})

const date = computed((): string => {
  const firstDate = formatDate(props.firstDate, 'Do MMM YYYY')
  const lastDate = formatDate(props.lastDate, 'Do MMM YYYY')
  if (firstDate === lastDate) return firstDate
  return `${firstDate} - ${lastDate}`
})

function formatDuration(): string {
  const start = moment(props.firstDate)
  const end = moment(props.lastDate)
  const duration = moment.duration(end.diff(start))
  const days = Math.floor(duration.asDays())
  const hours = duration.hours()
  const minutes = duration.minutes()
  if (days > 0) {
    const totalHours = Math.floor(duration.asHours())
    return `${totalHours}h${minutes}`
  }
  if (hours > 0) return `${hours}h${minutes}`
  if (minutes > 0) return `${minutes} minutes`
  return '0 minutes'
}
</script>

<style scoped lang="scss">
.date-interval {
  width: 100%;
}
.road {
  display: flex;
  align-items: center;
}
.date {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: toRem(-0.8);
  @include text(s-regular);
  font-weight: 600;
}
.point {
  height: toRem(1.5);
  width: toRem(1.5);
  border-radius: 50%;
  background-color: var(--blue-dark);
}
.line {
  height: toRem(0.5);
  background-color: var(--blue-dark);
  width: 49%;
  &.first {
    margin-left: toRem(-1);
  }
  &.last {
    margin-right: toRem(-1);
  }
}
.bi-camera-fill {
  color: var(--blue-dark);
  margin-right: toRem(0.3);
  margin-left: toRem(0.3);
  font-size: toRem(2.5);
}
.duration {
  background-color: var(--blue-dark);
  color: var(--white);
  padding: toRem(0.2) toRem(1);
  border-radius: toRem(0.7);
  height: 100%;
  @include text(xss-regular);
}
.hours {
  display: flex;
  justify-content: space-between;
  margin-top: toRem(-0.5);
  @include text(xs-r-regular);
}

@media (max-width: toRem(57.6)) {
  .hours {
    @include text(s-r-regular);
  }
}
</style>
