<template>
  <div class="wrapper-thumb">
    <img v-if="count" loading="lazy" :src="href" alt="" class="thumb" />
    <i v-else class="bi bi-image no-image"></i>
    <div class="wrapper-thumb-hover">
      <img v-if="count" loading="lazy" :src="href" alt="" class="thumb-hover" />
    </div>
  </div>
</template>

<script setup lang="ts">
defineProps({
  count: { type: Number, default: 0 },
  href: { type: String, default: '' }
})
</script>

<style scoped lang="scss">
.wrapper-thumb {
  position: relative;
}
.no-image {
  font-size: toRem(3.5);
  color: var(--grey-semi-dark);
}
.wrapper-thumb-hover {
  display: none;
  border-radius: toRem(0.3);
  border: toRem(1) solid var(--grey);
  position: absolute;
  bottom: 0;
  height: toRem(15);
  z-index: 1;
}
.thumb-hover {
  height: 100%;
}
.thumb {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: toRem(0.5);
  position: relative;
}
.wrapper-thumb:hover {
  .wrapper-thumb-hover {
    display: block;
  }
}
</style>
