<template>
  <div v-if="pictures && pictures.length">
    <div v-if="isSequenceOwner" class="delete-all">
      <div class="wrapper-select">
        <InputCheckbox
          :is-checked="pictures.length === picturesToDelete.length"
          :is-indeterminate="isIndeterminate"
          :label="selectedText"
          name="picture-selected"
          @trigger="triggerInputCheck"
        />
        <div v-if="picturesToDelete.length" class="wrapper-photo-selected">
          <span class="photo-selected-separator">-</span>
          <span>{{
            $t('pages.sequence.picture_selected', picturesToDelete.length)
          }}</span>
        </div>
      </div>
      <div class="action-buttons">
        <Button
          look="button--white background-white no-text"
          :icon="
            picturesToDeleteStatus === 'hidden' ||
            imagesSelectedHaveDifferentStatus
              ? 'bi bi-eye'
              : 'bi bi-eye-slash'
          "
          :tooltip="$t('pages.sequence.hide_photo_tooltip')"
          :disabled="!picturesToDelete.length || sequence.status === 'hidden'"
          @trigger="triggerPatchOrDeleteCollectionItems('PATCH')"
        />
        <div class="button-hidde">
          <Button
            look="button--red background-white no-text"
            icon="bi bi-trash"
            :tooltip="$t('pages.sequence.delete_photo_tooltip')"
            :disabled="!picturesToDelete.length"
            @trigger="triggerPatchOrDeleteCollectionItems('DELETE')"
          />
        </div>
      </div>
    </div>
    <div v-if="informationCardDisplayed && isLogged" class="entry-info-card">
      <InformationCard look="blue">
        <template v-slot:title>
          <span class="msg-info">
            {{ $t('pages.sequence.info_msg_maj') }}
          </span>
        </template>
        <template v-slot:cross>
          <Button
            icon="bi bi-x-lg"
            look="no-text-blue-dark"
            @trigger="informationCardDisplayed = false"
          />
        </template>
      </InformationCard>
    </div>
    <ul class="photo-list">
      <li v-for="(item, i) in pictures" :id="`el-list${i}`" class="photo-item">
        <ImageItem
          :href="item.assets.thumb.href"
          :href-hd="item.assets.hd.href"
          :created="formatDate(item.properties.datetime, 'HH:mm:ss')"
          :selected="photoToDeleteOrPatchSelected(item, picturesToDelete)"
          :selected-on-map="itemSelected === item.id"
          :image-id="item.id"
          :status="
            imageStatus(item.properties['geovisio:status'], sequence.status)
          "
          @trigger="triggerSelectImageAndMove(item)"
        >
          <template v-slot:checkbox>
            <InputCheckbox
              :is-checked="photoToDeleteOrPatchSelected(item, picturesToDelete)"
              :name="item.id"
              :is-indeterminate="false"
              @trigger.self="triggerInputCheckItem"
            />
          </template>
        </ImageItem>
      </li>
      <div class="entry-pagination">
        <Pagination
          v-for="item in paginationLinks"
          :type="item.rel"
          :href="item.href"
          :self-link="selfLink[0]"
          @trigger="triggerGoToNextPage"
        />
      </div>
    </ul>
  </div>
  <p v-else class="no-photo">{{ $t('pages.sequence.no_image') }}</p>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue'
import { useI18n } from 'vue-i18n'
import type { PropType } from 'vue'
import Pagination from '@/components/Pagination.vue'
import ImageItem from '@/components/ImageItem.vue'
import Button from '@/components/Button.vue'
import InputCheckbox from '@/components/InputCheckbox.vue'
import InformationCard from '@/components/InformationCard.vue'
import { formatDate } from '@/utils/dates'
import { isAuth } from '@/composables/auth'
import {
  imageStatus,
  photoToDeleteOrPatchSelected
} from '@/views/utils/sequence/index'
import type {
  ResponseUserPhotoLinksInterface,
  ResponseUserPhotoInterface,
  UserSequenceInterface,
  CheckboxInterface
} from '../../views/interfaces/MySequenceView'
const { t } = useI18n()
const { isLogged } = isAuth()
const emit = defineEmits<{
  (e: 'triggerInputCheck', value: CheckboxInterface): void
  (e: 'triggerInputCheckItem', value: string): void
  (e: 'triggerGoToNextPage', value: string): void
  (e: 'triggerSelectImageAndMove', value: ResponseUserPhotoInterface): void
  (e: 'triggerPatchOrDeleteCollectionItems', value: string): void
}>()
let informationCardDisplayed = ref<boolean>(true)
const props = defineProps({
  pictures: {
    type: Array as PropType<ResponseUserPhotoInterface[]>,
    default: []
  },
  picturesToDelete: {
    type: Array as PropType<string[]>,
    default: []
  },
  sequence: {
    type: Object as PropType<UserSequenceInterface>,
    default: {}
  },
  paginationLinks: {
    type: Array as PropType<ResponseUserPhotoLinksInterface[]>,
    default: []
  },
  selfLink: {
    type: Array as PropType<ResponseUserPhotoLinksInterface[]>,
    default: []
  },
  fullImagesToDelete: {
    type: Array as PropType<ResponseUserPhotoInterface[]>,
    default: []
  },
  menuHeight: {
    type: String,
    default: '0'
  },
  isSequenceOwner: { type: Boolean, default: false },
  imagesSelectedHaveDifferentStatus: { type: Boolean, default: false },
  itemSelected: { type: String, default: '' }
})

const isIndeterminate = computed(
  (): boolean =>
    !!props.picturesToDelete.length &&
    !!props.sequence &&
    props.pictures.length !== props.picturesToDelete.length
)

const selectedText = computed((): string =>
  props.picturesToDelete.length === props.pictures.length
    ? t('pages.sequence.unselect_text')
    : t('pages.sequence.select_text')
)
const picturesToDeleteStatus = computed((): string => {
  if (props.fullImagesToDelete.length) {
    return props.fullImagesToDelete[0].properties['geovisio:status']
  }
  return 'hidden'
})
function triggerInputCheck(value: CheckboxInterface): void {
  emit('triggerInputCheck', value)
}
function triggerGoToNextPage(value: string): void {
  emit('triggerGoToNextPage', value)
}
function triggerSelectImageAndMove(value: ResponseUserPhotoInterface): void {
  emit('triggerSelectImageAndMove', value)
}
function triggerPatchOrDeleteCollectionItems(value: string): void {
  emit('triggerPatchOrDeleteCollectionItems', value)
}
function triggerInputCheckItem(value: CheckboxInterface): void {
  emit('triggerInputCheckItem', value.name)
}
</script>

<style scoped lang="scss">
.delete-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: toRem(1);
  margin-right: toRem(2);
  margin-bottom: toRem(1);
  @include text(xs-r-regular);
}
.wrapper-select {
  display: flex;
  align-items: center;
}
.wrapper-photo-selected {
  @include text(xs-regular);
}
.photo-selected-separator {
  margin-right: toRem(0.5);
  margin-left: toRem(0.5);
}
.action-buttons {
  display: flex;
  align-items: center;
}
.button-hidde {
  margin-right: toRem(1);
  margin-left: toRem(1);
}
.msg-info {
  @include text(xs-r-regular);
}
.entry-info-card {
  padding: toRem(1);
}
.photo-list {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  padding: 0;
}
.photo-item {
  width: calc(33% - #{toRem(2)});
  height: fit-content;
  margin: toRem(1);
  border-radius: toRem(1.5);
  background-color: var(--grey);
}
.no-photo {
  text-align: center;
  margin-top: toRem(10);
  color: var(--grey-dark);
  @include text(s-regular);
}
.entry-pagination {
  margin-top: toRem(2);
  margin-bottom: toRem(2);
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: toRem(102.4)) {
  .photo-item {
    width: calc(50% - #{toRem(2)});
  }
}
@media (max-width: toRem(76.8)) {
  .entry-info-card {
    display: none;
  }
  .delete-all {
    text-align: left;
  }
  .wrapper-select {
    flex-direction: column;
    align-items: initial;
  }
  .wrapper-photo-selected:nth-child(2) {
    margin-top: toRem(0.5);
  }
  .photo-selected-separator {
    display: none;
  }
  .entry-pagination {
    margin-top: toRem(0.5);
    margin-bottom: toRem(1);
  }
  .photo-list {
    padding-right: toRem(1);
  }
  .photo-item {
    width: 100%;
    margin-right: 0;
  }
}
@media (max-width: toRem(57.6)) {
  .entry-pagination {
    margin-top: toRem(1);
  }
}
</style>
