<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/favicon.ico" />
    <title>%VITE_TITLE%</title>
    <meta
      name="description"
      content="%VITE_META_DESCRIPTION%"
    />
    <meta
      name="twitter:title"
      content="%VITE_META_TITLE%"
    />
    <meta
      name="og:title"
      content="%VITE_META_TITLE%"
    />
    <meta
      name="twitter:description"
      content="%VITE_META_DESCRIPTION%"
    />
    <meta
      name="og:description"
      content="%VITE_META_DESCRIPTION%"
    />
    <meta name="og:image" content="<%- frontUrl %>/static/meta-img.jpg" />
    <meta name="twitter:image" content="<%- frontUrl %>/static/meta-img.jpg" />
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
