@mixin switch-button-view() {
  position: fixed;
  right: 0;
  top: toRem(22);
  z-index: 3;
  height: toRem(5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: toRem(0.5);
  border-bottom-left-radius: toRem(0.5);
  background-color: var(--white);
  border: toRem(0.1) solid var(--grey-pale);
}