<template>
  <div
    :class="[
      'progress-bar',
      percentage === 100
        ? 'progress-bar-completed'
        : percentage === 0
        ? 'no-progress-bar'
        : ''
    ]"
  >
    <div
      v-if="itemsBroken > 0 || itemsRejected > 0"
      :style="{
        width: errorPercentage > 0 ? `${errorPercentage}%` : 'initial'
      }"
      class="bar bar-red"
    >
      <span
        >{{
          $t('pages.upload.error_progress_bar', {
            count: itemsBroken + itemsRejected
          })
        }}
      </span>
    </div>
    <div :style="{ width: percentageBar }" class="bar">
      <span v-if="percentage === 0">{{ $t('pages.upload.no_process') }}</span>
      <span v-else-if="percentage > 0 && percentage < 100">
        {{ percentage }}%
      </span>
      <span v-else class="bar">{{ $t('pages.upload.processed_text') }}</span>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue'

const props = defineProps({
  percentage: { type: Number, default: 0 },
  errorPercentage: { type: Number, default: 0 },
  itemsBroken: { type: Number, default: 0 },
  itemsRejected: { type: Number, default: 0 }
})

const percentageBar = computed<string>(() => {
  if (
    (props.percentage > 0 &&
      props.itemsBroken === 0 &&
      props.itemsRejected === 0) ||
    window.screen.width < 576
  ) {
    return `${props.percentage}%`
  }
  if (
    props.percentage > 0 &&
    (props.itemsBroken > 0 || props.itemsRejected > 0)
  ) {
    return `calc(${props.percentage}% - 95px)`
  }
  return 'initial'
})
</script>

<style scoped lang="scss">
.progress-bar {
  padding: toRem(0.5);
  width: 100%;
  height: toRem(4);
  border-radius: toRem(2);
  border: #{toRem(0.1)} solid var(--blue);
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  width: 0;
  padding-right: toRem(2);
  padding-left: toRem(2);
  border-radius: toRem(1.5);
  background-color: var(--blue);
  height: toRem(2.8);
}
.bar-red {
  min-width: toRem(12);
  padding-right: toRem(1.5);
  padding-left: toRem(1.5);
  margin-right: toRem(-2.5);
  z-index: 1;
  span {
    display: flex;
  }
}
.progress-bar-completed {
  border-color: var(--green);
  .bar {
    justify-content: center;
    background-color: var(--green);
  }
}
.no-progress-bar {
  border-color: var(--grey-pale);
  .bar {
    background-color: var(--grey-pale);
    width: 100% !important;
    color: var(--grey-dark);
    justify-content: center;
  }
}
.progress-bar {
  .bar-red {
    color: var(--white);
    background-color: var(--red-pale);
  }
}
@media (max-width: toRem(57.6)) {
  .bar-red {
    position: initial;
    margin-top: toRem(0.5);
  }
  .progress-bar {
    height: initial;
    border: none;
    flex-direction: column-reverse;
  }
  .progress-bar-completed .bar {
    width: 100% !important;
  }
}
</style>
