<template>
  <div class="loaded-block error">
    <div class="error-block">
      <i class="bi bi-x-octagon"></i>
      <p>{{ uploadError }}</p>
    </div>
  </div>
</template>

<script lang="ts" setup>
defineProps({
  uploadError: { type: String, default: null }
})
</script>

<style lang="scss" scoped>
.loaded-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error-block {
  display: flex;
  i {
    margin-right: toRem(1);
  }
}
.error {
  color: var(--red);
}
</style>
