<template>
  <div v-if="uploadSets && uploadSets.length > 0" class="entry-upload-sets">
    <button class="entry-upload-sets-top" @click="blockIsOpen = !blockIsOpen">
      <div class="top-title">
        <img src="@/assets/images/icon/info-blue.svg" alt="" class="info-img" />
        <h2 class="upload-sets-title">
          {{ $t('pages.upload.upload_not_finished') }} ({{ uploadSets.length }})
        </h2>
      </div>
      <i :class="blockIsOpen ? 'bi bi-chevron-down' : 'bi bi-chevron-up'" />
    </button>
    <ul :class="['upload-set-list', blockIsOpen ? 'block-open' : '']">
      <li v-for="uploadSet in uploadSets" class="upload-set-item">
        <div>
          <span>{{ uploadSet.title }}</span>
        </div>
        <div>
          <i class="bi bi-images" />
          <span>{{ uploadSet.nb_items }}</span>
        </div>
        <div>
          <span>{{
            formatDate(uploadSet.created_at, 'Do MMM YYYY HH:mm:ss')
          }}</span>
        </div>
        <div class="delete-button">
          <Button
            :text="$t('pages.sequences.delete_button')"
            look="link--red row-reverse"
            icon="bi bi-trash"
            @trigger="deleteUploadSet(uploadSet)"
          />
        </div>
      </li>
    </ul>
  </div>
</template>

<script setup lang="ts">
import Button from '@/components/Button.vue'
import { formatDate } from '@/utils/dates'
import { onMounted, ref } from 'vue'
import { deleteAnUploadSet } from '@/views/utils/sequence/request'
import { manageRequestErrors } from '@/composables/error'
import { useI18n } from 'vue-i18n'
import { useRoute } from 'vue-router'
import type { UploadSetCreatedInterface } from '@/views/interfaces/UploadPicturesView'
import { fetchUploadSets } from '@/views/utils/upload/request'
const { t } = useI18n()
const route = useRoute()

let blockIsOpen = ref<boolean>(false)
let uploadSets = ref<UploadSetCreatedInterface[] | null>(null)

onMounted(async () => {
  const responseUploadSets = await fetchUploadSets()
  uploadSets.value = responseUploadSets.data.upload_sets
})

async function deleteUploadSet(
  uploadSet: UploadSetCreatedInterface
): Promise<void> {
  try {
    if (uploadSet.nb_items > 0) {
      await deleteUploadSetAndRemoveInTheList(uploadSet)
    } else {
      if (confirm(t('pages.sequence.conf_upload_set_msg'))) {
        await deleteUploadSetAndRemoveInTheList(uploadSet)
      }
    }
  } catch (error: unknown) {
    const err = error as { response: { data: { message: string } } }
    manageRequestErrors(err, t('general.error_text'), route.path, true)
  }
}
async function deleteUploadSetAndRemoveInTheList(
  uploadSet: UploadSetCreatedInterface
): Promise<void> {
  await deleteAnUploadSet(uploadSet.id)
  if (uploadSets.value) {
    uploadSets.value = uploadSets.value.filter((e) => e.id !== uploadSet.id)
  }
}
</script>

<style scoped lang="scss">
.entry-upload-sets {
  background-color: var(--yellow-pale);
  border-radius: toRem(1);
  margin-top: toRem(3);
  margin-bottom: toRem(2);
  padding: toRem(1.5);
}
.entry-upload-sets-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;
  width: 100%;
}
.top-title {
  display: flex;
  align-items: center;
}
.info-img {
  height: toRem(2);
}
.upload-set-list {
  padding: 0;
  margin: 0;
  height: toRem(0);
  overflow-y: hidden;
}
.block-open {
  margin-top: toRem(2);
  max-height: 12.5rem;
  overflow-y: auto;
  height: 100%;
}
.upload-set-item {
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-radius: toRem(0.5);
  padding: toRem(1);
  color: var(--grey-dark);
  @include text(s-regular);
  &:nth-child(2n) {
    background-color: var(--yellow-pale);
  }
  div {
    width: 50%;
  }
  div:nth-child(2) {
    width: toRem(11);
  }
  div:last-child {
    display: flex;
    justify-content: flex-end;
  }
  .delete-button {
    width: fit-content;
    margin-left: toRem(1);
  }
}
.upload-sets-title {
  color: var(--grey-dark);
  margin-bottom: 0;
  margin-left: toRem(1);
  @include text(h4);
}
.bi-images {
  margin-right: toRem(0.5);
}
@media (max-width: toRem(76.8)) {
  .upload-set-item {
    flex-direction: column;
    text-align: center;
  }
}
</style>
