<template>
  <div class="entry-loader">
    <div class="wrapper-loader">
      <div v-if="!isLoaded" class="loading-block">
        <div class="loader">
          <span class="loader-percentage">{{ loadPercentage }}</span>
          <Loader look="md" :is-loaded="isLoaded" />
        </div>
        <div v-if="uploadedSequence" class="loader-information">
          <div class="wrapper-picture-count">
            <span class="picture-length">{{
              uploadedSequence.pictures.length
            }}</span>
            <span> / </span>
            <span>{{ picturesCount }}</span>
          </div>
          <span>{{ $t('pages.upload.images_count_text') }}</span>
        </div>
      </div>
      <UploadErrorMessage v-else-if="uploadError" :upload-error="uploadError" />
      <div v-else class="loaded-block success">
        <img src="@/assets/images/success.svg" alt="" />
        <p>{{ $t('pages.upload.upload_done') }}</p>
        <span
          v-if="
            !uploadedSequence?.picturesOnError?.length && otherFilesCount > 0
          "
          class="other-files"
          >{{
            $t('pages.upload.upload_other_files', { count: otherFilesCount })
          }}</span
        >
      </div>
    </div>
    <div v-if="uploadedSequence?.picturesOnError?.length" class="error-wrapper">
      <div class="error-corpus">
        <div>
          <i class="bi bi-exclamation-triangle"></i>
          <span class="error-text">{{
            $t('pages.upload.pictures_error', {
              count: uploadedSequence.picturesOnError.length
            })
          }}</span>
        </div>
        <div v-if="userAgentAndroid" class="entry-tutorial-error-exif">
          <span class="other-files">{{
            $t('pages.sequence.sequence_tutorial_exif_text')
          }}</span>
          <img
            src="@/assets/images/tutorial-upload-loc.jpg"
            alt=""
            class="img-tutorial-error-exif"
          />
          <img
            src="@/assets/images/tutorial-upload-loc-2.jpg"
            alt=""
            class="img-tutorial-error-exif first-tutorial-img-error"
          />
        </div>
      </div>
      <Button
        :text="$t('pages.upload.error_button')"
        look="button button--red"
        @trigger="$emit('triggerModal')"
      />
      <span v-if="otherFilesCount > 0" class="other-files">{{
        $t('pages.upload.upload_other_files', { count: otherFilesCount })
      }}</span>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue'
import Loader from '@/components/Loader.vue'
import Button from '@/components/Button.vue'
import UploadErrorMessage from '@/components/upload/UploadErrorMessage.vue'
import type { PropType } from 'vue'
import type { SequenceInterface } from '@/views/interfaces/UploadPicturesView'

defineProps({
  loadPercentage: { type: String, default: '0%' },
  isLoaded: { type: Boolean, default: false },
  uploadedSequence: {
    type: Object as PropType<SequenceInterface | null>,
    default: null
  },
  picturesCount: { type: Number, default: null },
  otherFilesCount: { type: Number, default: null },
  uploadError: { type: String, default: null }
})

const userAgentAndroid = computed<boolean>(() =>
  navigator.userAgent.includes('Android')
)
</script>

<style scoped lang="scss">
.entry-loader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 93%;
}
.wrapper-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: toRem(3);
  height: 100%;
}
.loader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-percentage {
  width: toRem(10);
  position: absolute;
  text-align: center;
  color: var(--blue);
  @include text(xxl-regular);
}
.loader-information {
  margin-top: toRem(2);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.text-information {
  margin-bottom: toRem(4);
  width: 100%;
  @include text(s-r-regular);
}
.wrapper-picture-count {
  @include text(xxl-regular);
}
.picture-length {
  color: var(--blue);
  font-weight: 860;
}
.error-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-left: toRem(1.4) solid var(--red-pale);
  background-color: var(--orange-pale);
  padding: toRem(2);
  border-radius: toRem(1.5);
}
.error-corpus {
  color: var(--red-pale);
  @include text(m-regular);
}
.error-text {
  font-weight: bold;
  margin-left: toRem(0.5);
}
.entry-tutorial-error-exif {
  display: none;
}
.loading-block,
.loaded-block {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.success {
  color: var(--green);
  img {
    margin-bottom: toRem(2);
  }
}
.other-files {
  color: var(--red-pale);
  @include text(s-regular);
}
@media (max-width: toRem(76.8)) {
  .entry-tutorial-error-exif {
    display: block;
    padding-top: toRem(1);
  }
  .other-files {
    margin-top: toRem(1);
  }
  .img-tutorial-error-exif {
    width: fit-content;
    height: toRem(27);
    border-radius: toRem(1);
    margin-top: toRem(1);
    margin-bottom: toRem(1);
  }
  .first-tutorial-img-error {
    margin-right: toRem(1);
  }
}
@media (max-width: toRem(57.6)) {
  .error-text {
    font-weight: bold;
    @include text(s-r-regular);
  }
  .error-corpus {
    margin-bottom: toRem(1);
  }
  .first-tutorial-img-error {
    margin-right: 0;
    margin-bottom: 0;
  }
  .img-tutorial-error-exif {
    width: 100%;
    height: initial;
  }
}
</style>
