<template>
  <main id="homePage" class="entry-page">
    <section class="entry-section">
      <WebsiteViewer ref="viewerRef" />
    </section>
  </main>
</template>

<script lang="ts" setup>
import { ref } from 'vue'
import WebsiteViewer from '@/components/WebsiteViewer.vue'
import type ViewerType from '@/components/WebsiteViewer.vue'
const viewerRef = ref<InstanceType<typeof ViewerType>>()
</script>
<style scoped lang="scss">
.entry-page {
  display: flex;
}
.entry-section {
  width: 100%;
  height: calc(100vh - #{toRem(13.2)});
}
.mobile {
  display: none;
}
.focus-pic,
.logged .entry-section {
  height: calc(100vh - #{toRem(8)});
}
// dvh fix the bug the size of ths viewer depending on the device
// 2 times height because dvh not working on all browsers versions
.full-viewer {
  .entry-section {
    height: 100vh;
    height: calc(100dvh - #{toRem(0)});
  }
}
.gvs-focus-map .entry-report-button {
  display: none;
}
@media (max-width: toRem(84.8)) {
  .entry-page {
    overflow: hidden;
  }
  .entry-section {
    height: 100vh;
    height: calc(100dvh - #{toRem(0)});
  }
  .full-viewer {
    height: 100vh;
    height: calc(100dvh - #{toRem(0)});
  }
}
@media (max-width: toRem(57.6)) {
  .focus-pic,
  .logged .entry-section {
    height: 100vh;
    height: calc(100dvh - #{toRem(0)});
  }
  .entry-page {
    padding-top: 0;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}
</style>
