<template>
  <main class="entry-page">
    <section class="section">
      <Cgu />
    </section>
  </main>
</template>

<script setup lang="ts">
import Cgu from '@/components/Cgu.vue'
</script>

<style scoped lang="scss">
.entry-page {
  color: var(--grey-dark);
  min-height: calc(100vh - #{toRem(13.1)});
  padding: toRem(5) 10%;
  @include text(m-r-regular);
}
@media (max-width: toRem(57.6)) {
  .entry-page {
    padding-top: toRem(10);
    padding-right: toRem(2);
    padding-left: toRem(2);
  }
}
</style>
