<template>
  <main :class="['entry-page', { 'menu-is-open': menuIsOpen }]">
    <div v-if="sequence && !isLoading" class="button-close">
      <Button
        look="no-text-blue-dark"
        :icon="menuIsOpen ? 'bi bi-chevron-right' : 'bi bi-chevron-left'"
        @trigger="menuIsOpen = !menuIsOpen"
      />
    </div>
    <section v-if="sequence" class="entry-viewer">
      <WebsiteViewer
        :key="viewerType"
        :fetch-options="{ credentials: 'include' }"
        :pic-id="pictures[0] && pictures[0].id ? pictures[0].id : undefined"
        :seq-id="sequence.id"
        :user-id="getUserId"
        :viewer-type="viewerType"
        :seq-brute-deg="seqBruteDeg"
        :road-degrees="seqDegrees"
        ref="viewerRef"
      />
    </section>
    <div v-if="sequence && !isLoading" class="menu-right">
      <div ref="collapseMenu">
        <div v-if="isLogged" class="back-button">
          <Link
            icon="bi bi-arrow-left"
            :text="$t('pages.sequence.back_button')"
            :route="{ name: 'my-sequences' }"
            :disabled="isLoadingOrient || isLoadingSort"
            look="link--grey-dark"
          />
        </div>
        <div class="entry-tab-panel">
          <TabPanel
            :panel-selected="panelView"
            :is-loading="isLoadingOrient || isLoadingSort"
            :is-sequence-owner="isSequenceOwner"
            @trigger="setPanelView"
          />
        </div>
      </div>
      <div
        v-if="panelView === 'photos'"
        ref="deleteAll"
        class="entry-panel-photo"
      >
        <div class="menu-top">
          <div class="header-menu">
            <div class="wrapper-title">
              <div @click.stop class="entry-edit-text">
                <SequenceStatus :status="sequence.status" />
                <EditText
                  v-if="
                    isSequenceOwner && sequence.status !== 'waiting-for-process'
                  "
                  :default-text="sequence.title"
                  :is-loading="isLoadingTitle"
                  :form-title="$t('pages.sequence.sequence_form_title')"
                  @triggerNewText="setNewSequenceTitle"
                />
                <span v-else class="form-title">{{ sequence.title }}</span>
              </div>
            </div>
            <button
              data-bs-target="#collapseTarget"
              data-bs-toggle="collapse"
              class="button-collapse"
              @click="toggleMenu"
            >
              <i :class="headerPanelIsOpen ? 'bi bi-dash' : 'bi bi-plus'"></i>
            </button>
          </div>
          <div v-if="isSequenceOwner" class="wrapper-button">
            <Button
              :tooltip="$t('pages.sequence.hide_sequence_tooltip')"
              :text="
                sequence.status === 'ready'
                  ? $t('pages.sequence.button_disable')
                  : $t('pages.sequence.button_enable')
              "
              look="button--white background-white"
              :icon="
                sequence.status === 'ready' ? 'bi bi-eye-slash' : 'bi bi-eye'
              "
              class="disable-button"
              @trigger="patchCollection"
            />
            <Button
              :tooltip="$t('pages.sequence.delete_sequence_tooltip')"
              :text="$t('pages.sequence.button_delete')"
              look="button--red background-white"
              icon="bi bi-trash"
              @trigger="deleteCollection"
            />
          </div>
          <div
            :class="[sequence.status, 'collapse', isMobile ? 'show' : '']"
            id="collapseTarget"
          >
            <div class="block-collapse">
              <div class="wrapper-info-top">
                <span v-if="sequence.created"
                  ><i class="bi bi-cloud-arrow-up-fill"></i
                  ><span class="info-top-label">{{
                    $t('pages.sequence.created')
                  }}</span>
                  {{
                    formatDate(new Date(sequence.created), 'Do MMMM YYYY')
                  }}</span
                >
                <span v-if="sequence.taken"
                  >{{ $t('pages.sequence.taken') }}
                  {{ formatDate(sequence.taken, 'Do MMMM YYYY') }}</span
                >
              </div>
              <div class="wrapper-info-top">
                <div class="info-top-interval">
                  <DateInterval
                    v-if="
                      sequence.extent.temporal.interval[0][0] &&
                      sequence.extent.temporal.interval[0][1]
                    "
                    :first-date="sequence.extent.temporal.interval[0][0]"
                    :last-date="sequence.extent.temporal.interval[0][1]"
                  />
                </div>
                <span v-if="sequence.camera"
                  >{{ $t('pages.sequence.camera') }} {{ sequence.camera }} -
                  {{ sequence.cameraModel }}</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="wrapper-panel-photo">
          <PanelPhotosManagement
            :pictures="pictures"
            :pictures-to-delete="picturesToDelete"
            :sequence="sequence"
            :pagination-links="paginationLinks"
            :self-link="selfLink"
            :full-images-to-delete="fullImagesToDelete"
            :is-sequence-owner="isSequenceOwner"
            :images-selected-have-different-status="
              imagesSelectedHaveDifferentStatus
            "
            :item-selected="itemSelected"
            @triggerInputCheck="triggerCheck"
            @triggerInputCheckItem="triggerCheckItem"
            @triggerGoToNextPage="goToNextPage"
            @triggerSelectImageAndMove="selectImageAndMove"
            @triggerPatchOrDeleteCollectionItems="patchOrDeleteCollectionItems"
          />
        </div>
      </div>
      <div
        v-if="panelView === 'orientation' && isSequenceOwner"
        class="entry-panel"
      >
        <PanelOrientationManagement
          :road-degrees="seqDegrees"
          :seq-brute-deg="seqBruteDeg"
          :is-loading="isLoadingOrient"
          @triggerAngle="orientSequence"
          @triggerMovingAngle="orientMovingSequence"
        />
      </div>
      <div v-if="panelView === 'sort' && isSequenceOwner" class="entry-panel">
        <PanelSortManagement
          :sequence-sorted="sequence['geovisio:sorted-by']"
          @triggerSort="sortSequence"
        />
      </div>
    </div>
    <div v-else-if="isLoading" class="menu-right wrapper-loader">
      <Loader look="sm" :is-loaded="false" />
    </div>
    <div v-else class="section-error">
      <div class="error-img-wrapper">
        <img
          src="@/assets/images/contribute-map.svg"
          loading="lazy"
          class="error-img"
        />
      </div>
      <div class="error-text">
        <p>
          <i class="bi bi-exclamation-octagon"></i>
          {{ $t('pages.sequence.error_text') }}
        </p>
        <div class="error-button">
          <Link
            :text="$t('pages.sequence.error_back_link')"
            :route="{ name: 'home' }"
            look="button button--blue"
          />
        </div>
      </div>
    </div>
    <Toast :text="toastText" :look="toastLook" @trigger="toastText = ''" />
  </main>
</template>

<script setup lang="ts">
import { onMounted, onUnmounted, watchEffect, ref, computed } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { useI18n } from 'vue-i18n'
import { useSequenceStore } from '@/store/sequence'
import { storeToRefs } from 'pinia'
import { useCookies } from 'vue3-cookies'
import Button from '@/components/Button.vue'
import Link from '@/components/Link.vue'
import Toast from '@/components/Toast.vue'
import Loader from '@/components/Loader.vue'
import EditText from '@/components/EditText.vue'
import TabPanel from '@/components/TabPanel.vue'
import SequenceStatus from '@/components/SequenceStatus.vue'
import DateInterval from '@/components/sequence/DateInterval.vue'
import PanelPhotosManagement from '@/components/sequence/PanelPhotosManagement.vue'
import PanelOrientationManagement from '@/components/sequence/PanelOrientationManagement.vue'
import PanelSortManagement from '@/components/sequence/PanelSortManagement.vue'
import WebsiteViewer from '@/components/WebsiteViewer.vue'
import type ViewerType from '@/components/WebsiteViewer.vue'
import { durationCalc, formatDate } from '@/utils/dates'
import { sessionCookieDecoded } from '@/utils/auth'
import { manageRequestErrors } from '@/composables/error'
import { isAuth } from '@/composables/auth'
import {
  deleteACollectionItem,
  patchACollectionItem,
  fetchCollectionItems,
  fetchCollectionItemsWithFullUrl,
  fetchCollection,
  deleteACollection,
  patchACollection
} from '@/views/utils/sequence/request'

import {
  scrollIntoSelected,
  spliceIntoChunks,
  formatPaginationItems
} from '@/views/utils/sequence/index'
import { getEnv } from '@/utils'
import type {
  ResponseUserPhotoInterface,
  ResponseUserPhotoLinksInterface,
  CheckboxInterface,
  UserSequenceInterface,
  ResponseUserSequenceInterface
} from './interfaces/MySequenceView'
const { cookies } = useCookies()
const { t } = useI18n()
const { isLogged } = isAuth()
const route = useRoute()
const router = useRouter()
const sequenceStore = useSequenceStore()
const { toastText, toastLook } = storeToRefs(sequenceStore)
let sequence = ref<UserSequenceInterface>()
let pictures = ref<ResponseUserPhotoInterface[] | []>([])
let picturesToDelete = ref<string[]>([])
let paginationLinks = ref<ResponseUserPhotoLinksInterface[] | []>([])
let selfLink = ref<ResponseUserPhotoLinksInterface[] | []>([])
let menuIsOpen = ref<boolean>(true)
let headerPanelIsOpen = ref<boolean>(true)
let isShiftPressed = ref<boolean>(false)
let itemSelected = ref<string>('')
let isLoading = ref<boolean>(false)
let isLoadingTitle = ref<boolean>(false)
let isLoadingOrient = ref<boolean>(false)
let isLoadingSort = ref<boolean>(false)
let seqDegrees = ref<number>(0)
let seqBruteDeg = ref<number>(0)
let panelView = ref<string>('photos')
let viewerType = ref<string>('editor')
const collapseMenu = ref<HTMLDivElement>()
const deleteAll = ref<HTMLDivElement>()
const menuHeight = ref<string>('0')
const viewerRef = ref<InstanceType<typeof ViewerType> | null>(null)

onMounted(async () => {
  isLoading.value = true
  if (isMobile.value) headerPanelIsOpen.value = true
  else headerPanelIsOpen.value = false
  if (cookies.get('authError')) {
    sequenceStore.addToastText(t('general.error_auth'), 'error')
    cookies.remove('authError')
  }
  try {
    const fetchAllCollectionInfo = await Promise.all([
      fetchCollection(route.params.id),
      fetchCollectionItems(route.params.id, '?limit=100')
    ])
    selfLink.value = fetchAllCollectionInfo[1].data.links.filter(
      (el) => el.rel === 'self'
    )
    paginationLinks.value = formatPaginationItems(
      fetchAllCollectionInfo[1].data.links
    )
    formatSequenceFetched(fetchAllCollectionInfo[0].data)
    pictures.value = fetchAllCollectionInfo[1].data.features
    setHeightValue()
    document.addEventListener('keydown', (evt) => {
      if (evt.key === 'Shift') isShiftPressed.value = true
    })
    document.addEventListener('keyup', (evt) => {
      if (evt.key === 'Shift') isShiftPressed.value = false
    })
    isLoading.value = false
  } catch (err: any) {
    if (err?.response?.status === 404) isLoading.value = false
  }
})
watchEffect(() => goToThePageAndScroll())
onUnmounted(() => {
  document.removeEventListener('keydown', (evt) => {
    if (evt.key === 'Shift') isShiftPressed.value = true
  })
  document.removeEventListener('keyup', (evt) => {
    if (evt.key === 'Shift') isShiftPressed.value = false
  })
})
const isMobile = computed((): boolean => window.innerWidth > 768)
const isSequenceOwner = computed((): boolean => {
  return !!(
    sequence.value &&
    sequence.value.providers &&
    sequence.value.providers[0] &&
    sessionCookieDecoded()?.account?.name &&
    sequence.value.providers[0].name === sessionCookieDecoded()?.account.name
  )
})
const getUserId = computed<string | null>(() => {
  const session = sessionCookieDecoded()
  if (session?.account?.id) return session.account.id
  return null
})
const fullImagesToDelete = computed((): ResponseUserPhotoInterface[] => {
  return pictures.value.filter((el) => picturesToDelete.value.includes(el.id))
})
const imagesSelectedHaveDifferentStatus = computed((): boolean => {
  function filterByStatus(status: string): ResponseUserPhotoInterface[] {
    return fullImagesToDelete.value.filter((el) => {
      return el.properties['geovisio:status'] === status
    })
  }
  return (
    filterByStatus('hidden').length > 0 && filterByStatus('ready').length > 0
  )
})
function goToThePageAndScroll(): void {
  if (!viewerRef?.value?.viewer) return
  viewerRef.value.viewer.addEventListener(
    'psv:picture-loaded',
    async (e: { detail: { picId: string } }): Promise<void> => {
      if (!pictureExistInList(getCurrentPicId(e.detail.picId))) {
        await goToTheGoodPage(getCurrentPicId(e.detail.picId))
      }
      itemSelected.value = getCurrentPicId(e.detail.picId)
      if (!sequence.value || !viewerRef?.value?.viewer) return
      viewerRef.value.viewer.select(sequence.value.id, itemSelected.value)
      scrollIntoSelected(
        getCurrentPicId(e.detail.picId),
        pictures.value.map((e) => e.id)
      )
      isLoading.value = false
    }
  )
}
function setPanelView(value: string): void {
  panelView.value = value
  if (!viewerRef?.value?.viewer) return
  if (value === 'orientation') {
    const raster = getEnv('VITE_RASTER_TILE')
    if (raster) viewerRef.value.viewer.map.setBackground('aerial')
    setSeqDegrees()
  } else viewerRef.value.viewer.map.setBackground('streets')
}
function setSeqDegrees(): void {
  if (!viewerRef?.value?.viewer) return
  const seqRelativeDeg = viewerRef.value.viewer.psv.getPictureRelativeHeading()
  seqBruteDeg.value =
    viewerRef.value.viewer.psv.getPictureMetadata().properties['view:azimuth']
  seqDegrees.value = seqBruteDeg.value - seqRelativeDeg
}
function getCurrentPicId(id: string): string {
  const parseParams = new URLSearchParams(window.location.search)
  const pict = parseParams.get('currentPic')
  return pict && pict.length ? pict : id
}
function pictureExistInList(picId: string): boolean {
  return !!pictures.value.find((el) => el.id === picId)
}
function setHeightValue() {
  setTimeout(() => {
    if (collapseMenu.value && deleteAll.value) {
      const height =
        collapseMenu.value?.clientHeight + deleteAll.value?.clientHeight + 130
      menuHeight.value = `${height}px`
    }
  }, 500)
}
function toggleMenu() {
  headerPanelIsOpen.value = !headerPanelIsOpen.value
  setHeightValue()
}
function formatSequenceFetched(
  collectionInfo: ResponseUserSequenceInterface
): void {
  const times = ['hours', 'minutes', 'seconds']
  sequence.value = {
    ...collectionInfo,
    duration: formatDuration(collectionInfo.extent.temporal.interval[0], times),
    status: !collectionInfo['geovisio:status']
      ? 'ready'
      : collectionInfo['geovisio:status']
  }
}
function formatDuration(temporal: Date[], times: string[]): string {
  let timer = ''
  times.map((el) => {
    const durationCalculated = durationCalc(temporal[1], temporal[0], el)
    if (durationCalculated > 0) {
      timer += ` ${t(`pages.sequence.${el}`, durationCalculated)}`
    }
  })
  return timer
}
function hiddeAllPictures(): void {
  pictures.value.map((el) => (el.properties['geovisio:status'] = 'false'))
}
function triggerCheck(value: CheckboxInterface): void {
  if (value.isChecked) {
    picturesToDelete.value = pictures.value
      .filter((e) => e.properties['geovisio:status'] !== 'waiting-for-process')
      .map((e) => e.id)
  } else picturesToDelete.value = []
}
function orientMovingSequence(value: number): void {
  if (
    !viewerRef?.value?.viewer ||
    !viewerRef.value.viewer?.psv?.getPictureMetadata()
  )
    return
  viewerRef.value.viewer.previewSequenceHeadingChange(value)
}
function triggerCheckItem(value: string) {
  if (picturesToDelete.value.includes(value)) {
    return (picturesToDelete.value = picturesToDelete.value.filter(
      (el) => el !== value
    ))
  }
  picturesToDelete.value = [...picturesToDelete.value, value]
}
function selectPhotoToDeleteOrPatch(
  item: ResponseUserPhotoInterface
): void | string[] {
  if (!isShiftPressed.value) return
  const picturesIndex = pictures.value.findIndex((el) => el.id === item.id)
  let picturesLastIndex = pictures.value.findIndex(
    (el) => el.id === picturesToDelete.value[0]
  )
  if (picturesLastIndex === -1) picturesLastIndex = 0
  const slicedUserPhotos = pictures.value.slice(
    picturesLastIndex,
    picturesIndex + 1
  )
  return (picturesToDelete.value = slicedUserPhotos.map((el) => el.id))
}
function formatValuesToPatchOrDelete(ele: string): string {
  if (imagesSelectedHaveDifferentStatus.value) return 'true'
  const imageToDelete = pictures.value.find((elem) => elem.id === ele)
  return imageToDelete?.properties['geovisio:status'] === 'ready'
    ? 'false'
    : 'true'
}
async function setNewSequenceTitle(value: string | null): Promise<void> {
  isLoadingTitle.value = true
  if (value && value.length > 0) {
    try {
      await patchACollection(route.params.id, { title: value })
      const fetchCollectionInfo = await fetchCollection(route.params.id)
      formatSequenceFetched(fetchCollectionInfo.data)
      isLoadingTitle.value = false
    } catch (err) {
      manageRequestErrors(err, t('general.error_text'), route.path, true)
      isLoadingTitle.value = false
    }
  }
}
async function goToTheGoodPage(id: string): Promise<void> {
  const { data } = await fetchCollectionItems(
    route.params.id,
    `?withPicture=${id}&limit=100`
  )
  selfLink.value = data.links.filter((el) => el.rel === 'self')
  paginationLinks.value = formatPaginationItems(data.links)
  pictures.value = data.features
}
async function deleteCollection(): Promise<void> {
  if (confirm(t('pages.sequence.conf_sequence_msg'))) {
    try {
      isLoading.value = true
      await deleteACollection(route.params.id)
      isLoading.value = false
      sequenceStore.addToastText(
        t('pages.sequences.sequence_deleted'),
        'success'
      )
      await router.push({ name: 'my-sequences' })
    } catch (err) {
      isLoading.value = false
      manageRequestErrors(err, t('general.error_text'), route.path, true)
    }
  }
}
async function patchCollection(): Promise<void> {
  try {
    isLoading.value = true
    let visible
    if (sequence.value?.status === 'ready') visible = 'false'
    else visible = 'true'
    await patchACollection(route.params.id, { visible: visible })
    const fetchCollectionInfo = await fetchCollection(route.params.id)
    formatSequenceFetched(fetchCollectionInfo.data)
    if (visible === 'false') hiddeAllPictures()
    else {
      const { data } = await fetchCollectionItems(route.params.id, '?limit=100')
      pictures.value = data.features
    }
    if (viewerRef?.value?.viewer) viewerRef.value.viewer.map.reloadVectorTiles()
    isLoading.value = false
  } catch (err) {
    manageRequestErrors(err, t('general.error_text'), route.path, true)
    isLoading.value = false
  }
}
async function goToNextPage(value: string): Promise<void> {
  isLoading.value = true
  const { data } = await fetchCollectionItemsWithFullUrl(value)
  selfLink.value = data.links.filter((el) => el.rel === 'self')
  paginationLinks.value = formatPaginationItems(data.links)
  pictures.value = data.features
  scrollIntoSelected(
    pictures.value[0].id,
    pictures.value.map((e) => e.id)
  )
  picturesToDelete.value = []
  isLoading.value = false
  setHeightValue()
}
async function orientSequence(value: number): Promise<void> {
  try {
    isLoadingOrient.value = true
    const { data }: { data: ResponseUserSequenceInterface } =
      await patchACollection(route.params.id, {
        relative_heading: value
      })
    formatSequenceFetched(data)
    sequenceStore.addToastText(
      t('pages.sequence.orientation_updated'),
      'success'
    )
    if (viewerRef.value) {
      orientMovingSequence(value)
      await viewerRef.value.viewer._loadSequence()
      await viewerRef.value.viewer.psv.clearPictureMetadataCache()
    }
    isLoadingOrient.value = false
  } catch (err) {
    manageRequestErrors(err, t('general.error_text'), route.path, true)
    isLoadingOrient.value = false
  }
}
async function sortSequence(value: string): Promise<void> {
  try {
    isLoadingSort.value = true
    const { data }: { data: ResponseUserSequenceInterface } =
      await patchACollection(route.params.id, {
        sortby: value
      })
    formatSequenceFetched(data)
    const collItems = await fetchCollectionItems(route.params.id, '?limit=100')
    selfLink.value = collItems.data.links.filter((el) => el.rel === 'self')
    paginationLinks.value = formatPaginationItems(collItems.data.links)
    pictures.value = collItems.data.features
    sequenceStore.addToastText(t('pages.sequence.sort_updated'), 'success')
    isLoadingSort.value = false
  } catch (err) {
    manageRequestErrors(err, t('general.error_text'), route.path, true)
    isLoadingSort.value = false
  }
}
async function selectImageAndMove(
  item: ResponseUserPhotoInterface
): Promise<void> {
  const parseParams = new URLSearchParams(window.location.search)
  const pict = parseParams.get('currentPic')
  if (pict && pict.length) {
    await router.push({ name: 'sequence', params: { id: route.params.id } })
  }
  selectPhotoToDeleteOrPatch(item)
  if (!isShiftPressed.value) {
    if (viewerRef.value && sequence.value) {
      viewerRef.value.viewer.select(sequence.value.id, item.id)
    }
    itemSelected.value = item.id
    await goToTheGoodPage(item.id)
    scrollIntoSelected(
      item.id,
      pictures.value.map((e) => e.id)
    )
    setTimeout(function () {
      menuIsOpen.value = false
    }, 500)
  }
}
async function patchOrDeleteCollectionItems(reqType: string): Promise<void> {
  if (reqType === 'DELETE' && !confirm(t('pages.sequence.conf_pic_msg'))) return
  isLoading.value = true
  toastText.value = ''
  const chunksItems = spliceIntoChunks(picturesToDelete.value, 4)
  try {
    let items: unknown[] = []
    for (let el of chunksItems) {
      items = [
        ...items,
        ...(await Promise.all(
          el.map(async (ele) => {
            if (reqType === 'PATCH') {
              return await patchACollectionItem(
                formatValuesToPatchOrDelete(ele),
                route.params.id,
                ele
              )
            }
            return await deleteACollectionItem(route.params.id, ele)
          })
        ))
      ]
    }
    const { data } = await fetchCollectionItems(route.params.id, '?limit=100')
    pictures.value = data.features
    isLoading.value = false
    if (viewerRef.value) {
      viewerRef.value.viewer.map.reloadVectorTiles()
      viewerRef.value.viewer.map.reloadLayersStyles()
      viewerRef.value.viewer.select(route.params.id, pictures.value[0].id)
    }
    scrollIntoSelected(
      picturesToDelete.value[0],
      pictures.value.map((e) => e.id)
    )
    picturesToDelete.value = []
    sequenceStore.addToastText(t('general.success_text'), 'success')
  } catch (err) {
    manageRequestErrors(err, t('general.error_text'), route.path, true)
    isLoading.value = false
    picturesToDelete.value = []
  }
}
</script>

<style lang="scss" scoped>
.responsive {
  display: none;
}
.entry-page {
  display: flex;
}
.entry-viewer {
  width: 55vw;
  position: relative;
  height: calc(100vh - #{toRem(8)});
}
.menu-right {
  width: 45vw;
  height: calc(100vh - #{toRem(8)});
  overflow-y: auto;
}
.back-button,
.entry-tab-panel {
  margin-left: toRem(2);
  margin-right: toRem(2);
  margin-top: toRem(2);
}
.back-button {
  width: fit-content;
  margin-bottom: toRem(2);
}
.wrapper-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-error {
  width: 100%;
  display: flex;
  align-items: center;
}
.error-img-wrapper {
  padding: toRem(2);
  width: 50vw;
  height: calc(100vh - #{toRem(8)});
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: toRem(0.1) solid var(--grey-pale);
  background-color: var(--grey);
}
.error-text {
  text-align: center;
  width: 100%;
  color: var(--blue-dark);
  @include text(h1);
}
.error-button {
  display: flex;
  justify-content: center;
  margin-top: toRem(2);
}
.error-img {
  width: 60%;
}
.entry-edit-text {
  display: flex;
  width: 95%;
  padding-bottom: toRem(1.5);
}
.wrapper-title {
  display: flex;
  width: 100%;
}
.wrapper-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .default {
    margin-bottom: toRem(1);
  }
}
.disable-button {
  margin-right: toRem(1);
}
.collapse {
  &:first-child {
    color: var(--grey-dark);
    margin-bottom: toRem(1);
    @include text(s-regular);
  }
  &.hidden {
    opacity: 0.4;
  }
}
.wrapper-info-top {
  margin-bottom: toRem(1);
  display: flex;
  color: var(--grey-dark);
  @include text(s-regular);
}
.info-top-interval {
  width: 100%;
  padding-bottom: toRem(2);
}
.bi-cloud-arrow-up-fill {
  color: var(--blue-dark);
  margin-right: toRem(0.5);
}
.title {
  text-align: left;
  color: var(--grey-dark);
  margin-right: toRem(1);
  margin-bottom: 0;
  @include text(h4);
}
.button-close {
  display: none;
}
.entry-panel,
.menu-top {
  padding-top: toRem(2);
  padding-right: toRem(2);
  padding-left: toRem(2);
  border-bottom-right-radius: toRem(0.5);
  border-bottom-left-radius: toRem(0.5);
  border-top-right-radius: toRem(0.5);
  background-color: var(--blue-semi-pale);
  margin-right: toRem(2);
  margin-left: toRem(2);
}
.wrapper-panel-photo {
  margin: toRem(1);
}
.entry-panel-photo {
  height: calc(100vh - v-bind(menuHeight));
}
.menu-top {
  position: relative;
  margin-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.header-menu {
  display: flex;
  justify-content: space-between;
}
.button-collapse {
  border: none;
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: 0;
  right: toRem(2);
}
.bi-plus,
.bi-dash {
  color: var(--grey-dark);
  font-size: toRem(3);
}
@media (max-width: toRem(102.4)) {
  .entry-viewer {
    width: 45vw;
  }
  .menu-right {
    width: 55vw;
  }
  .block-collapse {
    flex-direction: column;
  }
  .wrapper-info-top {
    &:first-child,
    &:nth-child(2) {
      padding-right: 0;
      padding-left: 0;
      border-right: none;
    }
    &:nth-child(2) {
      margin-top: 0;
    }
  }
}
@media (max-width: toRem(84.8)) {
  .back-button {
    .link--grey {
      @include text(xs-r-regular);
    }
  }
  .desktop {
    display: none;
  }
  .responsive {
    display: initial;
  }
  .title {
    margin-right: 0;
    margin-bottom: toRem(1);
  }
  .wrapper-button {
    flex-direction: column;
    align-items: initial;
  }
  .disable-button {
    margin-right: 0;
    margin-bottom: toRem(1);
  }
  .button-collapse {
    justify-content: space-between;
    margin-bottom: 0;
    top: toRem(-0.5);
    right: toRem(0.5);
  }
  .wrapper-info-top {
    width: 100%;
    margin-right: 0;
  }
  .wrapper-button {
    margin-top: toRem(1);
  }
  .error-img {
    width: 100%;
  }
}

@media (max-width: toRem(57.6)) {
  .entry-page {
    height: 100vh;
    padding-top: 0;
    overflow: hidden;
  }
  .entry-viewer {
    width: 100vw;
    height: 100%;
    position: fixed;
    z-index: 1;
  }
  .menu-right {
    padding-top: toRem(7);
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 0;
    width: 90vw;
    background-color: var(--white);
    border-left: toRem(0.1) solid var(--grey-pale);
  }
  .menu-top {
    width: 0vw;
    padding-right: toRem(1);
    padding-left: toRem(1);
  }
  .button-close {
    @include switch-button-view();
  }
  .menu-is-open {
    .menu-right {
      z-index: 3;
    }
    .menu-top {
      width: auto;
    }
    .button-close {
      left: calc(10vw - #{toRem(3.5)});
      right: initial;
    }
  }
  .entry-edit-text {
    flex-direction: column;
  }
  .entry-panel {
    padding-right: toRem(1);
    padding-left: toRem(1);
    padding-top: toRem(2);
  }
  .section-error {
    flex-direction: column;
    align-items: center;
    background-color: var(--grey);
    height: 100%;
  }
  .error-img-wrapper {
    width: 100%;
    height: initial;
    padding-top: toRem(10);
  }
  .error-img {
    height: toRem(25);
  }
}

@media (min-width: toRem(190)) {
  .menu-right {
    width: initial;
    max-width: toRem(100);
  }
  .entry-viewer {
    width: 100%;
  }
}
</style>
