<template>
  <main class="entry-page">
    <section>
      <span class="error-text">{{ $t('pages.404.404') }}</span>
      <p class="text">{{ $t('pages.404.title') }}</p>
      <div class="entry-button">
        <Link
          :text="$t('pages.404.button')"
          :route="{ name: 'home' }"
          look="button button--blue"
        />
      </div>
    </section>
  </main>
</template>

<script lang="ts" setup>
import Link from '@/components/Link.vue'
</script>

<style scoped lang="scss">
.entry-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: toRem(10) 20%;
  height: calc(100vh - #{toRem(8)});
  background-color: var(--grey);
}
.error-text {
  font-weight: bold;
  font-size: toRem(13);
  color: var(--blue-dark);
}
.entry-button {
  width: fit-content;
  margin-top: toRem(3);
}
.text {
  font-size: toRem(1.8);
  color: var(--grey-dark);
}

@media (max-width: toRem(76.8)) {
  .entry-page {
    height: calc(100vh - #{toRem(34rem)});
    padding: 10%;
  }
}

@media (max-width: toRem(57.6)) {
  .entry-page {
    height: calc(100vh - #{toRem(34.5)});
    padding-right: toRem(2);
    padding-left: toRem(2);
  }
  .error-text {
    font-size: toRem(8);
  }
  .text {
    font-size: toRem(1.6);
  }
}
</style>
