<template>
  <main v-if="isLogged" class="entry-page">
    <section class="section">
      <InformationCard
        v-if="informationCardDisplayed"
        look="blue"
        :text="$t('pages.upload.description')"
      >
        <template v-slot:cross>
          <Button
            icon="bi bi-x-lg"
            look="no-text-blue-dark"
            @trigger="informationCardDisplayed = false"
          />
        </template>
        <template v-slot:title>
          <h3 class="subtitle subtitle-info">
            {{ $t('pages.upload.title') }}
          </h3>
        </template>
        <template v-slot:button>
          <div class="button-know-more">
            <Link
              :text="$t('pages.upload.know_more_button')"
              :route="{ name: 'why-contribute', hash: '#command' }"
              look="button button--white-blue"
              class="entry-button"
            />
          </div>
        </template>
      </InformationCard>
    </section>
    <div class="wrapper-section">
      <section class="sub-section">
        <License
          v-if="authConf && authConf.license && authConf.license.url"
          :url="authConf.license.url"
          :text="authConf.license.id"
          class="entry-license"
        />
        <div v-if="isUploadCanceled" class="entry-tutorial">
          <p>{{ $t('pages.sequence.sequence_tutorial_text') }}</p>
          <img
            src="@/assets/images/android-upload-tutorial.jpg"
            alt=""
            class="img-upload-tutorial first-tutorial-image"
          />
          <img
            src="@/assets/images/android-upload-tutorial-files.jpg"
            alt=""
            class="img-upload-tutorial"
          />
        </div>
        <form class="form">
          <div class="wrapper-form">
            <InputUpload
              v-if="inputIsDisplayed"
              :text="$t('pages.upload.input_label')"
              :text-second-part="$t('pages.upload.import_word')"
              :text-picture-type="$t('pages.upload.import_type')"
              data-displayModal="input-add-pictures"
              @trigger="addPictures"
              @triggerCancel="isUploadCanceled = true"
            />
            <div v-else class="wrapper-uploading">
              <img
                src="@/assets/images/uploading-person.svg"
                alt=""
                class="uploading-img"
              />
              <span>{{ $t('pages.upload.uploading_process') }}</span>
              <div class="cancel-button">
                <Button
                  :text="$t('pages.upload.uploading_cancel')"
                  look="button--red"
                  @trigger="cancelUpload"
                />
              </div>
              <span class="loader-text-warning">{{
                $t('pages.upload.leave_message')
              }}</span>
            </div>
          </div>
        </form>
      </section>
      <section class="sub-section">
        <h2 class="subtitle">{{ $t('pages.upload.subtitle_process') }}</h2>
        <FolderList
          v-if="isFolder(allPictures) && folderUploading"
          :pictures="allPictures"
          :current-folder="folderUploading"
        />
        <UploadLoader
          v-if="isLoading"
          :load-percentage="loadPercentage"
          :is-loaded="isLoaded"
          :upload-error="uploadError"
          :uploaded-sequence="uploadedSequence"
          :pictures-count="picturesCount"
          @triggerModal="displayModal"
        />
        <div v-else class="entry-no-img">
          <img src="@/assets/images/no-uploaded-img.svg" alt="" />
          <p>{{ $t('pages.upload.no_img_text') }}</p>
          <UploadErrorMessage v-if="authError" :upload-error="authError" />
        </div>
        <div class="processing-wrapper">
          <h3 class="subtitle">
            <span>{{ $t('pages.upload.import_treatment_title') }}</span>
            <span v-if="uploadSets"
              >{{ clacNbItems }}/{{ uploadSets.estimated_nb_files }}</span
            >
          </h3>
          <p v-if="progressBarPercentage === 0" :class="progressClasse">
            {{ $t('pages.upload.no-process_desc') }}
          </p>
          <p v-else-if="progressBarPercentage === 100" :class="progressClasse">
            {{ $t('pages.upload.processed_desc') }}
          </p>
          <p v-else :class="progressClasse">
            {{ $t('pages.upload.processing_desc') }}
          </p>
          <ProgressBar
            :percentage="progressBarPercentage"
            :error-percentage="errorPercentage"
            :items-broken="
              uploadSets?.items_status?.broken
                ? uploadSets.items_status.broken
                : 0
            "
            :items-rejected="
              uploadSets?.items_status?.rejected
                ? uploadSets.items_status.rejected
                : 0
            "
          />
        </div>
      </section>
      <section v-if="uploadSets" class="sub-section-bottom">
        <h3 class="subtitle">{{ $t('pages.upload.my_sequences_title') }}</h3>
        <div class="sequence-item-head">
          <div class="sequence-header-item"></div>
          <div class="sequence-header-item">
            <span>{{ $t('pages.upload.my_sequences_status') }}</span>
          </div>
          <div class="sequence-header-item">
            <span>{{ $t('pages.upload.my_sequences_pictures') }}</span>
          </div>
          <div class="sequence-header-item">
            <span>{{ $t('pages.upload.my_sequences_pictures_date') }}</span>
          </div>
          <div class="sequence-header-item"></div>
        </div>
        <ul v-if="uploadSets.dispatched">
          <template v-if="uploadSets.associated_collections.length > 0">
            <li
              v-for="collection in uploadSets.associated_collections"
              class="collection-status-item"
            >
              <div class="sequence-item">
                <ImageThumb
                  :count="collection.nb_items"
                  :href="formatUrl(collection.id)"
                />
              </div>
              <div class="sequence-item desktop">
                <SequenceStatus
                  :status="
                    !collection.ready || collection.ready ? 'ready' : 'waiting'
                  "
                />
              </div>
              <div class="sequence-item sequence-pictures">
                <div class="sequence-pictures-wrapper">
                  <i class="bi bi-images"></i>
                  <span>{{ collection.nb_items }} </span>
                  <span class="responsive">{{
                    $t('pages.upload.pictures_words')
                  }}</span>
                </div>
                <div class="responsive">
                  <SequenceStatus
                    :status="
                      !collection.ready || collection.ready
                        ? 'ready'
                        : 'waiting'
                    "
                  />
                </div>
              </div>
              <div class="sequence-item">
                <DateInterval
                  :first-date="
                    new Date(collection.extent.temporal.interval[0][0])
                  "
                  :last-date="
                    new Date(collection.extent.temporal.interval[0][1])
                  "
                />
              </div>
              <div class="sequence-link-wrapper">
                <Link
                  :text="$t('pages.upload.go_to_sequence')"
                  :route="{
                    name: 'sequence',
                    params: { id: collection.id }
                  }"
                  target="_blank"
                  look="button button--blue"
                />
              </div>
            </li>
          </template>
          <li v-else class="no-collection-created-item">
            <i class="bi bi-x-circle-fill"></i
            ><span>{{ $t('pages.upload.no_sequence_created') }}</span>
          </li>
        </ul>
        <div v-else class="wrapper-uploading">
          <div class="wrapper-info-text-uploading">
            <span>
              <img
                src="@/assets/images/icon/info-blue.svg"
                alt=""
                class="icon-block-img"
              />
              {{ $t('pages.upload.my_sequences_description') }}
            </span>
          </div>
          <img
            src="@/assets/images/uploading-person.svg"
            alt=""
            class="uploading-img"
          />
          <span>{{ $t('pages.upload.creating_sequences_process') }}</span>
        </div>
      </section>
    </div>
    <Modal
      v-if="uploadedSequence && uploadedSequence.picturesOnError"
      ref="modal"
      :title="$t('pages.upload.modal_error_title')"
    >
      <template v-slot:body>
        <ul>
          <li
            v-for="item in uploadedSequence.picturesOnError"
            class="error-item"
          >
            <span>{{ item.name }} - </span>
            <span>{{ item.details.error }}</span>
          </li>
        </ul>
      </template>
    </Modal>
    <Toast :text="toastText" look="error" @trigger="toastText = ''" />
  </main>
</template>

<script lang="ts" setup>
import { ref, computed, watch, onUnmounted, onMounted } from 'vue'
import { onBeforeRouteLeave, useRoute } from 'vue-router'
import { useI18n } from 'vue-i18n'
import { isAuth } from '../composables/auth'
import { useSequenceStore } from '@/store/sequence'
import { storeToRefs } from 'pinia'
import DateInterval from '@/components/sequence/DateInterval.vue'
import InputUpload from '@/components/InputUpload.vue'
import Button from '@/components/Button.vue'
import Link from '@/components/Link.vue'
import SequenceStatus from '@/components/SequenceStatus.vue'
import Modal from '@/components/Modal.vue'
import Toast from '@/components/Toast.vue'
import ImageThumb from '@/components/sequence/ImageThumb.vue'
import InformationCard from '@/components/InformationCard.vue'
import UploadLoader from '@/components/upload/UploadLoader.vue'
import ProgressBar from '@/components/upload/ProgressBar.vue'
import FolderList from '@/components/upload/FolderList.vue'
import License from '@/components/License.vue'
import UploadErrorMessage from '@/components/upload/UploadErrorMessage.vue'
import type { SequenceInterface } from './interfaces/UploadPicturesView'
import type {
  UploadSetCreatedInterface,
  FolderInterface
} from './interfaces/UploadPicturesView'
import { formatDate } from '@/utils/dates'
import { manageRequestErrors } from '@/composables/error'
import { useCookies } from 'vue3-cookies'
import {
  createAPictureToAnUploadSet,
  createUploadSets,
  fetchUploadSet
} from '@/views/utils/upload/request'
import { deleteAnUploadSet } from '@/views/utils/sequence/request'
import { sortByName } from '@/views/utils/upload/index'
import { authConfig } from '../composables/auth'
import { manageSlashUrl } from '@/utils'
const { isLogged } = isAuth()
const route = useRoute()
const sequenceStore = useSequenceStore()
const { toastText } = storeToRefs(sequenceStore)
const { authConf } = authConfig()
const { t } = useI18n()
const { cookies } = useCookies()
let pictures = ref<File[] | []>([])
let allPictures = ref<File[] | FileList | FolderInterface[] | []>([])
let otherFilesCount = ref<number>(0)
let picturesCount = ref<number>(0)
let isLoading = ref<boolean>(false)
let isLoaded = ref<boolean>(false)
let isUploadCanceled = ref<boolean>(false)
let uploadError = ref<string | undefined>(undefined)
let authError = ref<string | null>(null)
let informationCardDisplayed = ref<boolean>(true)
let uploadedSequence = ref<SequenceInterface | null>(null)
let picturesUploadingSize = ref<number>(0)
let picturesToUploadSize = ref<number>(0)
let loadPercentage = ref<string>('0%')
let folderUploading = ref<string | null>(null)
let sequenceTitle = ref<string>('')
let intervalId = ref<null | ReturnType<typeof setInterval>>(null)
let uploadSets = ref<UploadSetCreatedInterface | null>(null)
let createAnUploadSet = ref<UploadSetCreatedInterface | null>(null)
let modal = ref()

onMounted(async () => {
  if (cookies.get('authError')) {
    authError.value = t('pages.upload.error_auth')
    cookies.remove('authError')
  }
})
watch([isLoading, isLoaded], () => {
  if (!isLoaded.value && isLoading.value) {
    window.onbeforeunload = function (e) {
      e = e || window.event
      if (e) e.returnValue = 'Sure?'
      return 'Sure?'
    }
  } else window.onbeforeunload = null
})
onBeforeRouteLeave((to, from, next) => {
  if (!isLoaded.value && isLoading.value) {
    const answer = window.confirm(t('pages.upload.leave_message'))
    if (answer) return next()
    return next(false)
  }
  next()
})
onUnmounted(() => {
  window.onbeforeunload = null
  cookies.remove('authError')
  authError.value = null
  if (intervalId.value) clearInterval(intervalId.value)
})
const clacNbItems = computed<number>(() => {
  if (uploadSets.value?.items_status) {
    return (
      uploadSets.value.items_status.prepared +
      uploadSets.value.items_status.broken +
      uploadSets.value.items_status.rejected +
      uploadSets.value.items_status.not_processed
    )
  }
  return 0
})
const progressBarPercentage = computed<number>(() => {
  if (uploadSets.value?.nb_items) {
    return calcPercentage(
      clacNbItems.value,
      uploadSets.value.estimated_nb_files
    )
  }
  return 0
})
const errorPercentage = computed<number>(() => {
  if (uploadSets.value?.items_status) {
    const itemsError =
      uploadSets.value.items_status.broken +
      uploadSets.value.items_status.rejected
    return calcPercentage(itemsError, uploadSets.value.estimated_nb_files)
  }
  return 0
})
const progressClasse = computed<string>(() => {
  return progressBarPercentage.value !== 0 ? 'progress-bar-processing' : ''
})
const inputIsDisplayed = computed<boolean | null>(() => {
  return (
    !isLoading.value ||
    isLoaded.value ||
    (uploadedSequence.value && !uploadedSequence.value.pictures)
  )
})
function formatUrl(id: string) {
  return `${manageSlashUrl()}api/collections/${id}/thumb.jpg`
}
function countTotalFiles(allFiles: FolderInterface[]) {
  return allFiles.reduce(
    (total: number, folder: FolderInterface) => total + folder.files.length,
    0
  )
}
function formatSequenceTitle(): string {
  return `${t('pages.upload.sequence_title')}${formatDate(
    new Date(),
    'Do MMMM YYYY, HH:mm:ss'
  )}`
}
function picturesToUploadSizeText(): void {
  let fullSize = 0
  for (let i = 0; i < pictures.value.length; i++) {
    fullSize += pictures.value[i].size
  }
  picturesToUploadSize.value = fullSize
}
function calcPercentage(value: number, totalValue: number): number {
  if (value && totalValue) return Math.floor((value / totalValue) * 100)
  return 0
}
function displayModal(): void {
  if (modal.value) modal.value.show()
}
function isFolder(
  value: File[] | FileList | FolderInterface[]
): value is FolderInterface[] {
  return value.length > 0 && 'folderName' in value[0]
}
async function cancelUpload(): Promise<void> {
  const answer = window.confirm(t('pages.upload.cancel_message'))
  if (answer) {
    if (createAnUploadSet.value?.id) {
      await deleteAnUploadSet(createAnUploadSet.value.id)
      pictures.value = []
      allPictures.value = []
      isLoaded.value = true
      isLoading.value = false
      picturesCount.value = 0
    }
  }
}
async function addPictures(
  value: File[] | FileList | FolderInterface[]
): Promise<void> {
  uploadedSequence.value = null
  cookies.remove('authError')
  authError.value = null
  isUploadCanceled.value = false
  if (value) allPictures.value = value
  uploadSets.value = null
  sequenceTitle.value = formatSequenceTitle()
  if (isFolder(allPictures.value)) {
    allPictures.value = allPictures.value.map((folder: FolderInterface) => {
      return {
        ...folder,
        files: checkFileExtension(folder.files)
      }
    })
  }
  const uploadSet = await createUploadSet(
    allPictures.value,
    sequenceTitle.value
  )
  createAnUploadSet.value = uploadSet ? uploadSet : null
  if (isFolder(allPictures.value) && uploadSet) {
    for (const el of allPictures.value) {
      folderUploading.value = el.folderName
      formatBeforeUpload(el.files)
      await uploadPicture(uploadSet, sequenceTitle.value)
      allPictures.value = allPictures.value.filter(
        (e: FolderInterface) => e.folderName !== folderUploading.value
      )
    }
  } else if (!isFolder(allPictures.value) && uploadSet) {
    formatBeforeUpload(value)
    await uploadPicture(uploadSet, sequenceTitle.value)
  }
}
function checkFileExtension(files: File[]) {
  return files.filter((file: File) => {
    if (file.type?.length > 0) {
      return file.type === 'image/jpeg' || file.type === 'image/jpg'
    }
    if (file.name?.length > 0) {
      const extension = file.name.split('.').pop()
      return extension === 'jpeg' || extension === 'jpg'
    }
    return file
  })
}
function formatBeforeUpload(value: File[] | FileList | FolderInterface[]) {
  const files = sortByName([].slice.call(value))
  const jpegFiles = checkFileExtension(files)
  const otherFiles = files.filter(
    (e) =>
      (e.type?.length > 0 && e.type !== 'image/jpeg') ||
      (e.type?.length > 0 && e.type !== 'image/jpg')
  )
  otherFilesCount.value = otherFiles.length
  pictures.value = jpegFiles
  picturesCount.value = pictures.value.length
  picturesUploadingSize.value = 0
  picturesToUploadSize.value = 0
  loadPercentage.value = '0%'
}
async function createUploadSet(
  jpegPictures: File[] | FileList | FolderInterface[],
  title: string
): Promise<UploadSetCreatedInterface | void> {
  try {
    let totalFiles: number
    if ((jpegPictures[0] as FolderInterface).folderName) {
      totalFiles = countTotalFiles(jpegPictures as FolderInterface[])
    } else totalFiles = jpegPictures.length
    const response = await createUploadSets(title, totalFiles)
    return response.data
  } catch (err: any) {
    manageRequestErrors(err, t('pages.upload.error_upload'), route.path, true)
    isLoaded.value = true
  }
}
async function uploadPicture(
  uploadSet: UploadSetCreatedInterface,
  title: string
): Promise<void> {
  isLoaded.value = false
  isLoading.value = true
  if (!pictures.value || !pictures.value.length) {
    isLoaded.value = true
    isLoading.value = false
    return
  }
  picturesToUploadSizeText()
  const picturesToUpload = [...pictures.value]
  uploadedSequence.value = {
    title: title,
    id: uploadSet.id,
    pictures: [],
    picturesOnError:
      uploadedSequence.value && uploadedSequence.value.picturesOnError
        ? uploadedSequence.value.picturesOnError
        : [],
    pictureCount: pictures.value.length,
    pictureSize: ''
  }
  let i = 0
  for (let el of picturesToUpload) {
    if (pictures.value.length === 0) break
    const body = new FormData()
    i++
    body.append('file', el)
    try {
      const pictureUploaded = await createAPictureToAnUploadSet(
        uploadSet.id,
        body
      )
      if (pictures) {
        formatPercentageAndPictures('pictures', pictureUploaded, el.size)
      }
    } catch (err: any) {
      if (err.status === 409 || err.status === 400) {
        const picturesOnError = {
          message: err.response.data.message,
          details: { error: err.response.data.message },
          name: el.name
        }
        if (picturesOnError) {
          formatPercentageAndPictures(
            'picturesOnError',
            picturesOnError,
            el.size
          )
        }
      } else {
        uploadError.value = t('pages.upload.error_upload_img')
      }
    }
  }
  pictures.value = []
  isLoaded.value = true
  picturesCount.value = 0
  launchInterval(uploadSet.id)
}

function formatPercentageAndPictures(
  pictureType: 'pictures' | 'picturesOnError',
  pictures: object,
  size: number
) {
  picturesUploadingSize.value += size
  if (uploadedSequence.value) {
    ;(uploadedSequence.value[pictureType] as any[]) = [
      ...(uploadedSequence.value[pictureType] as any[]),
      pictures
    ]
  }
  loadPercentage.value = `${calcPercentage(
    picturesUploadingSize.value,
    picturesToUploadSize.value
  )}%`
}
function launchInterval(uploadSetId: string) {
  if (intervalId.value) return
  intervalId.value = setInterval(async () => {
    try {
      if (uploadSets.value?.dispatched) {
        if (intervalId.value) clearInterval(intervalId.value)
        intervalId.value = null
        return
      }
      const response = await fetchUploadSet(uploadSetId)
      uploadSets.value = response.data
    } catch (e) {
      if (intervalId.value) clearInterval(intervalId.value)
    }
  }, 1000)
}
</script>

<style scoped lang="scss">
ul,
h3 {
  padding-left: 0;
  margin-bottom: 0;
}
.entry-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - #{toRem(13.82)});
  background-color: var(--grey);
  padding: toRem(2) toRem(5) toRem(5);
  color: var(--grey-dark);
}
.logged {
  min-height: calc(100vh - #{toRem(8)});
}
.section {
  width: 100%;
}
.button-know-more {
  width: toRem(15.5);
  margin-right: toRem(3);
  margin-bottom: toRem(1);
}
.subtitle {
  display: flex;
  justify-content: space-between;
  color: var(--blue-dark);
  margin-bottom: toRem(2);
  @include text(h3);
}
.subtitle-info {
  margin-bottom: 0;
}
.wrapper-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: toRem(2);
}
.sub-section {
  display: flex;
  flex-direction: column;
  min-height: toRem(48);
  background-color: var(--white);
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  padding: toRem(2);
  border-radius: toRem(1.5);
  &:first-child {
    margin-right: toRem(2);
  }
}
.sub-section:first-child {
  padding: 0;
}
.sub-section-bottom {
  width: 100%;
  min-height: toRem(48);
  background-color: var(--white);
  padding: toRem(2);
  border-radius: toRem(1.5);
  margin-top: toRem(2);
}
.sequence-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto auto toRem(1);
  padding: toRem(1) toRem(2);
  border-bottom: toRem(0.1) solid var(--grey);
  border-radius: toRem(2) toRem(2) 0rem 0rem;
  background-color: var(--white);
}
.sequence-header-item {
  color: var(--grey-semi-dark);
  display: flex;
  align-items: center;
  margin-right: toRem(2);
  @include text(s-regular);

  &:first-child,
  &:nth-child(2),
  &:nth-child(3) {
    width: toRem(6);
  }
  &:nth-child(4),
  &:nth-child(5) {
    width: 30%;
  }
  &:last-child {
    width: toRem(8);
    margin-right: 0;
  }
}
.sequence-item {
  @include text(s-regular);
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  text-decoration: none;
  margin-right: toRem(2);
  height: toRem(6);

  &:first-child,
  &:nth-child(2),
  &:nth-child(3) {
    width: toRem(6);
  }
  &:nth-child(4),
  &:nth-child(5) {
    width: 30%;
  }
  &:last-child {
    width: toRem(6.5);
    margin-right: 0;
  }
}
.processing-wrapper {
  margin-top: toRem(2);
  p {
    white-space: pre-wrap;
  }
}
.progress-bar-processing {
  color: var(--blue-dark);
}
.collection-status-item-wrapper {
  display: flex;
  align-items: center;
}
.bi-images {
  margin-right: toRem(0.5);
}
.sequence-link-wrapper {
  min-width: toRem(8);
}
.sequence-pictures {
  width: toRem(7);
}
.collection-status-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue-pale);
  padding: toRem(1) toRem(2);

  &:nth-child(2n) {
    background-color: var(--white);
  }
}
.no-collection-created-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: toRem(6);
  i {
    margin-right: toRem(0.5);
  }
}
.error-item {
  padding: toRem(1);
  &:nth-child(odd) {
    background-color: var(--grey);
  }
}
.import-text {
  @include text(m-r-regular);
}
.entry-license {
  margin-bottom: toRem(1);
}
.form {
  height: 100%;
}
.wrapper-form {
  display: flex;
  align-items: center;
  justify-content: center;
  border: toRem(0.1) dashed var(--blue);
  background-color: var(--blue-pale);
  border-radius: toRem(1.5);
  padding: toRem(2);
  height: 100%;
}
.wrapper-uploading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: toRem(4);
}
.wrapper-form:has(.wrapper-uploading) {
  border: none;
}
.wrapper-info-text-uploading {
  color: var(--blue-dark);
  background: var(--blue-pale);
  padding: toRem(2);
  border-radius: toRem(1);
  max-width: toRem(60);
  p {
    margin-bottom: 0;
  }
}
.icon-block-img {
  margin-right: toRem(0.3);
  margin-bottom: toRem(0.3);
}
.uploading-img {
  height: toRem(20);
}
.loader-text-warning {
  text-align: center;
  color: var(--red-pale);
  margin-top: toRem(1);
  width: toRem(31);
  @include text(s-r-regular);
}
.entry-no-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: toRem(4);
}
.entry-tutorial {
  display: none;
}
.responsive {
  display: none;
}
.desktop {
  display: flex;
}
@media (max-width: toRem(76.8)) {
  .section {
    display: none;
  }
  .entry-page {
    padding-top: 0;
    padding-right: toRem(2);
    padding-left: toRem(2);
  }
  .wrapper-section {
    flex-direction: column;
  }
  .sub-section {
    width: 100%;
    margin-bottom: toRem(2);
    flex-grow: unset;
    flex-shrink: unset;
    flex-basis: unset;
    &:first-child {
      margin-right: 0;
    }
  }
  .entry-no-img {
    margin-top: toRem(6);
  }
}
@media (max-width: toRem(57.6)) {
  .entry-page {
    padding-top: toRem(6);
  }
  .sub-section-bottom {
    margin-top: 0;
  }
  .sub-section {
    min-height: initial;
  }
  .uploading-img {
    height: toRem(10);
  }
  .entry-tutorial {
    display: block;
    color: var(--red);
    background-color: var(--blue-pale);
    border-radius: toRem(1);
    padding: toRem(1.5);
    margin-bottom: toRem(2);
    white-space: pre-wrap;
    @include text(s-regular);
  }
  .img-upload-tutorial {
    width: calc(50% - #{toRem(0.5)});
    border-radius: toRem(1);
  }
  .first-tutorial-image {
    margin-right: toRem(1);
  }
  .sequence-item-head {
    display: none;
  }
  .collection-status-item {
    flex-direction: column;
    position: relative;
    padding: 0 0 toRem(2);
    border-radius: toRem(1);
    margin-bottom: toRem(2);
  }
  .sequence-item:first-child {
    height: toRem(18);
    width: 100%;
    margin-bottom: toRem(1);
  }
  .wrapper-thumb {
    height: 100%;
    width: 100%;
  }
  .sequence-item {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    height: initial;
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      width: 100%;
      display: flex;
      justify-content: initial;
      padding-left: toRem(2);
      padding-right: toRem(2);
    }
    &:nth-child(3) {
      justify-content: space-between;
      @include text(m-regular);
      margin-bottom: toRem(1);
      .sequence-pictures-wrapper {
        display: flex;
        width: 100%;
        span {
          margin-right: toRem(0.5);
        }
      }
    }
  }
  .sequence-link-wrapper {
    margin-top: toRem(2);
    margin-left: auto;
    margin-right: toRem(2);
  }
  .responsive {
    display: block;
  }
  .desktop {
    display: none;
  }
}
</style>
