<template>
  <button
    class="menu-burger"
    :aria-label="ariaLabel"
    @click="$emit('triggerToggleMenu')"
  >
    <div v-if="isLogged" class="wrapper-name">
      <div class="item-with-sub">
        <span>{{ userName }}</span>
      </div>
    </div>
  </button>
</template>

<script setup lang="ts">
defineProps({
  menuIsClosed: { type: Boolean, default: true },
  isLogged: { type: Boolean, default: false },
  userName: { type: String, default: null },
  ariaLabel: { type: String, default: null }
})
</script>

<style scoped lang="scss">
.menu-burger {
  display: block;
  background-color: transparent;
  border: none;
  font-size: toRem(2.5);
  padding: 0;
  color: var(--blue-dark);
}
.wrapper-name {
  display: flex;
  align-items: center;
  @include text(m-r-regular);
}
.arrow-img {
  margin-left: toRem(0.5);
}
.arrow-up {
  transform: rotate(180deg);
}
.item-with-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue);
  background-color: var(--blue-semi-pale);
  height: toRem(3);
  width: toRem(3);
  border-radius: 50%;
  border: #{toRem(0.1) solid var(--blue)};
  @include text(s-regular);
}
@media (max-width: toRem(57.6)) {
  .item-with-sub {
    margin-right: 0;
    height: toRem(3.5);
    width: toRem(3.5);
    @include text(m-regular);
  }
}
</style>
