<template>
  <div class="burger-list">
    <div class="burger-header">
      <div class="wrapper-logo">
        <Link
          :image="{ url: 'logo.jpeg', alt: $t('general.header.alt_logo') }"
          :route="{ name: 'home' }"
          @click.native="$emit('triggerClose')"
        >
          <template v-slot:content>
            <InstanceName />
          </template>
        </Link>
      </div>
      <Button
        look="no-text-blue-dark"
        icon="bi bi-x-lg icon-large"
        @click.native="$emit('triggerClose')"
      />
    </div>
    <div class="burger-list-item burger-list-item-button">
      <Link
        :text="$t('general.header.upload_text')"
        look="button button--blue"
        :route="{ name: 'upload-pictures' }"
        @click.native="$emit('triggerClose')"
      />
    </div>
    <ul class="burger-bottom-list">
      <li v-if="!isLogged" class="burger-list-item">
        <LoginRegisterButton />
      </li>
      <li v-if="isLogged" class="burger-list-item">
        <Link
          :text="$t('general.header.sequences_text')"
          :route="{ name: 'my-sequences' }"
          :image="{
            url: 'icon/photos.svg',
            alt: $t('general.header.alt_photos')
          }"
          look="link--blue-dark"
          @click.native="$emit('triggerClose')"
        />
      </li>
      <li class="burger-list-item">
        <div class="burger-link">
          <Link
            :text="$t('general.header.contribute_text')"
            :route="{ name: 'why-contribute' }"
            :image="{
              url: 'icon/upload.svg',
              alt: $t('general.header.alt_upload')
            }"
            look="link--blue-dark"
            @click.native="$emit('triggerClose')"
          />
        </div>
      </li>
      <li class="burger-list-item">
        <div class="burger-link">
          <Link
            :text="$t('general.header.viewer')"
            :route="{ name: 'home' }"
            :image="{
              url: 'icon/planet.svg',
              alt: $t('general.header.alt_planet')
            }"
            look="link--blue-dark"
            @click.native="$emit('triggerClose')"
          />
        </div>
      </li>
      <li v-if="isLogged" class="burger-list-item">
        <div class="burger-link">
          <Link
            :route="{ name: 'my-information' }"
            :image="{
              url: 'icon/information.svg',
              alt: $t('general.header.alt_information')
            }"
            :text="$t('general.header.my_information_text')"
            look="link--blue-dark"
            @click.native="$emit('triggerClose')"
          />
        </div>
      </li>
      <li v-if="isLogged" class="burger-list-item">
        <div class="burger-link">
          <Link
            :route="{ name: 'my-settings' }"
            :image="{
              url: 'icon/settings.svg',
              alt: $t('general.header.alt_logo')
            }"
            :text="$t('general.header.my_settings_text')"
            look="link--blue-dark"
            @click.native="$emit('triggerClose')"
          />
        </div>
      </li>
    </ul>
    <ul class="burger-bottom-list">
      <li v-if="isLogged" class="burger-list-item">
        <div class="burger-link">
          <Link
            type="external"
            :text="$t('general.header.logout_text')"
            :image="{
              url: 'icon/logout.svg',
              alt: $t('general.header.alt_logout')
            }"
            :path-external="getAuthRoute('auth/logout', '/')"
            look="link--blue-dark"
            @click.native="$emit('triggerClose')"
          />
        </div>
      </li>
      <li class="burger-list-item">
        <div class="burger-link">
          <Link
            :text="$t('general.footer.panoramax_site')"
            type="external"
            target="_blank"
            path-external="https://panoramax.fr/"
            look="link--blue-dark"
            :image="{
              url: 'logo.jpeg',
              alt: $t('general.footer.gitlab_logo')
            }"
            @click.native="$emit('triggerClose')"
          />
        </div>
      </li>
      <li class="burger-list-item">
        <div class="burger-link">
          <Link
            :text="$t('general.footer.information_gitlab')"
            type="external"
            target="_blank"
            path-external="https://gitlab.com/geovisio"
            look="link--blue-dark"
            :image="{
              url: 'gitlab-logo.svg',
              alt: $t('general.footer.gitlab_logo')
            }"
            @click.native="$emit('triggerClose')"
          />
        </div>
      </li>
      <li v-if="isInstanceIGN" class="burger-list-item">
        <div class="burger-link">
          <Link
            :text="$t('general.footer.ay11_text')"
            :route="{ name: 'ay11' }"
            look="link link--blue-dark"
            @click.native="$emit('triggerClose')"
          />
        </div>
      </li>
      <li
        v-if="getEnv('VITE_LEGAL_TERMS_ACTIVE') === 'true'"
        class="burger-list-item"
      >
        <div class="link">
          <Link
            :text="$t('general.footer.tos')"
            :route="{ name: 'legal-terms' }"
            look="link link--blue-dark"
            @click.native="$emit('triggerClose')"
          />
        </div>
      </li>
      <li class="burger-list-item"><LangSwitcher /></li>
    </ul>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue'
import Link from '@/components/Link.vue'
import Button from '@/components/Button.vue'
import InstanceName from '@/components/InstanceName.vue'
import LangSwitcher from '@/components/header/LangSwitcher.vue'
import LoginRegisterButton from '@/components/header/LoginRegisterButton.vue'
import { isAuth } from '../../composables/auth'
import { getEnv } from '@/utils'
import { getAuthRoute } from '@/utils/auth'
const { isLogged } = isAuth()

const isInstanceIGN = computed((): boolean =>
  window.location.href.includes('.ign.')
)
</script>

<style scoped lang="scss">
@media (max-width: toRem(57.6)) {
  ul {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .wrapper-logo {
    display: flex;
    align-items: center;
    height: toRem(3);
  }
  .header {
    border-bottom: none;
    background-color: transparent;
    position: absolute;
    top: 0;
    min-height: initial;
    padding-top: toRem(1.5);
    padding-left: toRem(1);
    padding-right: toRem(1);
    width: 100%;
  }
  .nav {
    display: none;
  }
  .nav-mobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
  }
  .burger-menu-button {
    background-color: var(--blue-semi-pale);
    border-radius: 50%;
    border: #{toRem(0.1)} solid var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: toRem(3.5);
    width: toRem(3.5);
  }
  .burger-img {
    width: 100%;
  }
  .account-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 50%;
    height: toRem(3.5);
    width: toRem(3.5);
    border: #{toRem(0.1)} solid var(--blue);
  }
  .burger-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 0 toRem(10);
    height: 100vh;
    width: 100%;
    background-color: var(--blue-pale);
    overflow-y: auto;
  }
  .burger-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: toRem(2);
    width: 100%;
  }
  .burger-list-item:last-child {
    height: initial;
  }
  .burger-list-item-button {
    padding-bottom: 0;
  }
  .burger-link {
    height: toRem(2);
  }
  .burger-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: toRem(2) toRem(1) toRem(2) toRem(2);
    width: 100%;
    background-color: var(--white);
  }
  .burger-bottom-list {
    background-color: var(--white);
    border-radius: toRem(1.5);
    width: calc(100% - #{toRem(2)});
    margin-top: toRem(2);
  }
  .burger-bottom-list:last-child {
    margin-top: toRem(1);
  }
  .burger-bottom-list {
    .burger-list-item {
      border-bottom: #{toRem(0.1)} solid var(--grey-pale);
    }
    .burger-list-item:last-child {
      border-bottom: none;
    }
  }
}
</style>
