<template>
  <div :class="['dropdown-wrapper', { displayed }]">
    <button @click="displayed = !displayed" class="dropdown">
      <div class="dropdown-main">
        <img :src="img(`${locale}.svg`)" loading="lazy" class="img-lang" />
        <span class="name">{{ locale.substring(0, 2).toUpperCase() }}</span>
      </div>
      <div class="image-chevron">
        <i class="bi bi-chevron-down" />
      </div>
    </button>
    <div class="dropdown-block">
      <button
        v-for="lang in allLocales"
        @click.native="changeLocale(lang)"
        class="item-lang"
      >
        <img :src="formatLangListUrl(lang)" loading="lazy" class="img-lang" />
        <span>{{ lang.substring(0, 2).toUpperCase() }}</span>
      </button>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref, onMounted } from 'vue'
import { useI18n } from 'vue-i18n'
import { img } from '../../utils/image'
import { useCookies } from 'vue3-cookies'
import i18n from '../../i18n'
const { locale, messages } = useI18n()
const { cookies } = useCookies()
const displayed = ref<boolean>(false)
const allLocales = ref<string[]>([])
onMounted(() => {
  Object.keys(messages.value).forEach(function (key) {
    if (locale.value !== key) allLocales.value = [...allLocales.value, key]
  })
})
function changeLocale(lang: string): void {
  const index = allLocales.value.findIndex((el) => el === lang)
  allLocales.value[index] = locale.value
  cookies.set('lang', lang)
  locale.value = cookies.get('lang')
  const html = document.querySelector('html')
  if (html) html.setAttribute('lang', locale.value)
  localStorage.setItem('user-locale', locale.value)
  i18n.global.locale.value = locale.value
  displayed.value = false
  location.reload()
}
function formatLangListUrl(lang: string): string {
  return img(`${lang}.svg`)
}
</script>

<style scoped lang="scss">
.dropdown-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}
.dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: toRem(2);
  background-color: transparent;
  border: none;
  padding: 0;
}
.dropdown-main {
  display: flex;
  align-items: center;
}
.displayed .dropdown-block {
  display: block;
}
.displayed .image-chevron {
  transform: rotate(180deg);
}
.dropdown-block {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: var(--white);
  border-radius: toRem(0.5);
  width: fit-content;
  left: toRem(-1);
  top: toRem(2);
  padding: toRem(0.5);
}
.img-lang {
  height: toRem(1.5);
  margin-right: toRem(0.5);
}
.image-chevron {
  margin-left: toRem(0.5);
}
.item-lang {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--white);
  border: none;
  cursor: pointer;
  margin-bottom: toRem(0.5);
  @include text(xs-r-regular);
}
@media (max-width: toRem(76.8)) {
  .image-chevron,
  .name {
    display: none;
  }
  .dropdown-block {
    left: toRem(-7);
  }
}
@media (max-width: toRem(57.6)) {
  .img-lang {
    height: toRem(2);
  }
  .dropdown-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .dropdown {
    height: initial;
    width: 100%;
    justify-content: space-between;
  }
  .dropdown-block {
    position: relative;
    left: toRem(-1);
  }
  .item-lang {
    margin-bottom: toRem(1);
  }
  .name {
    display: block;
  }
}
</style>
