<template>
  <Link
    type="external"
    :path-external="getAuthRoute('auth/login', route.path)"
    :image="{
      url: 'icon/information.svg',
      alt: $t('general.header.alt_information')
    }"
  >
    <template v-slot:content>
      <div class="content-button">
        <span class="login-text">{{ $t('general.header.login_text') }}</span>
        <span class="register-text">{{
          $t('general.header.register_text')
        }}</span>
      </div>
    </template>
  </Link>
</template>

<script lang="ts" setup>
import Link from '@/components/Link.vue'
import { getAuthRoute } from '@/utils/auth'
import { useRoute } from 'vue-router'
const route = useRoute()
</script>

<style lang="scss" scoped>
.login-text {
  color: var(--blue-dark);
  border-right: toRem(0.1) solid var(--blue-dark);
  padding-right: toRem(0.5);
}
.register-text {
  padding-left: toRem(0.5);
  color: var(--blue);
}
.content-button {
  width: 100%;
}
</style>
