<template>
  <div v-html="markdown.render(content)" class="cgu-wrapper" />
</template>

<script setup lang="ts">
import MarkdownIt from 'markdown-it'
import { watchEffect, ref } from 'vue'
import { useI18n } from 'vue-i18n'
import { loadMarkdown } from '../utils/loadMarkdown'
const i18n = useI18n()
const content = ref('')
const markdown = new MarkdownIt()
watchEffect(async () => {
  const markdownModule = await loadMarkdown(i18n.locale.value)
  content.value = markdownModule.data
})
</script>

<style lang="scss" scoped></style>
