<template>
  <header id="navHeader" class="header">
    <nav class="nav">
      <div class="wrapper-logo">
        <Link
          :image="{ url: 'logo.jpeg', alt: $t('general.header.alt_logo') }"
          :route="{ name: 'home' }"
        >
          <template v-slot:content>
            <InstanceName />
          </template>
        </Link>
      </div>
      <div ref="list" class="wrapper-entries">
        <HeaderOpen
          v-if="isLogged && authEnabled"
          :user-name="sessionCookieDecoded()?.account?.name"
          :menu-is-closed="menuIsClosed"
          :user-profile-url-length="userProfileUrl.length"
          @triggerClose="closeModal"
        >
        </HeaderOpen>
        <div class="wrapper-right-entries">
          <div>
            <Link
              :text="$t('general.header.viewer')"
              :route="{ name: 'home' }"
              :image="{
                url: 'icon/planet.svg',
                alt: $t('general.header.alt_planet')
              }"
              look="link--blue-dark"
              @click.native="closeModal"
            />
          </div>
          <div>
            <Link
              :text="$t('general.header.contribute_text')"
              :route="{ name: 'why-contribute' }"
              :image="{
                url: 'icon/upload.svg',
                alt: $t('general.header.alt_upload')
              }"
              look="link--blue-dark"
              @click.native="closeModal"
            />
          </div>
          <div v-if="isLogged && authEnabled" class="link-upload">
            <Link
              :text="$t('general.header.upload_text')"
              look="button button--blue"
              :route="{ name: 'upload-pictures' }"
              @click.native="closeModal"
            />
          </div>
          <AccountButton
            v-if="isLogged && authEnabled"
            :aria-label="ariaLabel"
            :is-logged="isLogged"
            :user-name="formatUserName()"
            :menu-is-closed="menuIsClosed"
            @triggerToggleMenu="toggleMenu"
          />
          <div
            v-else-if="!isLogged && authEnabled"
            data-test="button-login-desktop"
          >
            <LoginRegisterButton />
          </div>
          <div class="entry-lang-switcher">
            <LangSwitcher />
          </div>
        </div>
      </div>
    </nav>
    <nav class="nav-mobile">
      <button @click="toggleBurgerMenu" class="burger-menu-button">
        <img
          src="@/assets/images/icon/burger-menu.svg"
          alt=""
          class="burger-img"
        />
      </button>
      <Burger v-if="burgerOpen" @triggerClose="toggleBurgerMenu" />
    </nav>
  </header>
</template>

<script lang="ts" setup>
import { ref, computed, watchEffect } from 'vue'
import { onClickOutside } from '@vueuse/core'
import { useI18n } from 'vue-i18n'
import { formatUserName, sessionCookieDecoded } from '@/utils/auth'
import { isAuth } from '../composables/auth'
import Link from '@/components/Link.vue'
import LoginRegisterButton from '@/components/header/LoginRegisterButton.vue'
import InstanceName from '@/components/InstanceName.vue'
import HeaderOpen from '@/components/header/HeaderOpen.vue'
import Burger from '@/components/header/Burger.vue'
import AccountButton from '@/components/header/AccountButton.vue'
import LangSwitcher from '@/components/header/LangSwitcher.vue'
const { isLogged } = isAuth()
const { t } = useI18n()
defineProps({
  authEnabled: { type: Boolean, default: true },
  userProfileUrl: { type: String, default: '' }
})
const list = ref(null)
let burgerOpen = ref(false)
let menuIsClosed = ref<boolean>(true)

watchEffect(() => {
  if (burgerOpen.value) document.body.classList.add('burger-open')
  else document.body.classList.remove('burger-open')
})

onClickOutside(list, () => closeModal())

function closeModal(): void {
  menuIsClosed.value = true
}
function toggleBurgerMenu(): void {
  burgerOpen.value = !burgerOpen.value
}
function toggleMenu(): void {
  menuIsClosed.value = !menuIsClosed.value
}
const ariaLabel = computed((): string =>
  menuIsClosed.value
    ? t('general.header.burger_menu_aria_label_open')
    : t('general.header.burger_menu_aria_label_closed')
)
</script>
<style lang="scss">
.external-icon {
  display: none;
}
@media (max-width: toRem(76.8)) {
  .wrapper-right-entries {
    .logo {
      display: none;
    }
  }
}
@media (max-width: toRem(57.6)) {
  .external-icon {
    display: initial;
  }
  .burger-open {
    overflow-y: hidden;
  }
}
</style>
<style lang="scss" scoped>
.header {
  display: flex;
  align-items: center;
  min-height: toRem(8);
  background-color: var(--white);
  border-bottom: toRem(0.1) solid var(--grey-pale);
}
.hidden {
  display: none;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: toRem(1.5) toRem(3);
}
.nav-mobile {
  display: none;
}
.wrapper-logo {
  display: flex;
  align-items: center;
  height: toRem(4);
}
.wrapper-entries {
  display: flex;
}
.wrapper-right-entries {
  display: flex;
  align-items: center;
  div {
    height: toRem(2);
    margin-right: toRem(2);
  }
  div:last-child {
    margin-right: 0;
  }
  .link-upload {
    height: initial;
    margin-right: toRem(2);
  }
}
.entry-lang-switcher {
  margin-left: toRem(2);
}

@media (max-width: toRem(102.4)) {
  .nav {
    padding-right: toRem(1.5);
    padding-left: toRem(1.5);
  }
  .wrapper-right-entries {
    div {
      margin-right: toRem(1);
    }
  }
  .wrapper-right-entries {
    div:nth-child(3) {
      margin-right: toRem(1);
    }
  }
}
@media (max-width: toRem(76.8)) {
  .entry-lang-switcher {
    margin-left: toRem(1);
  }
  .nav {
    padding-right: toRem(1);
    padding-left: toRem(1);
  }
}
@media (max-width: toRem(57.6)) {
  .header {
    border-bottom: none;
    background-color: transparent;
    position: absolute;
    top: 0;
    min-height: initial;
    padding-top: toRem(2);
    padding-left: toRem(2);
    padding-right: toRem(2);
    width: 100%;
  }
  .nav {
    display: none;
  }
  .nav-mobile {
    display: flex;
    justify-content: space-between;
    z-index: 4;
  }
  .burger-menu-button {
    background-color: var(--blue-semi-pale);
    border-radius: 50%;
    border: #{toRem(0.1)} solid var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: toRem(3.5);
    width: toRem(3.5);
  }
  .burger-img {
    width: toRem(2);
    height: toRem(2);
  }
}
</style>
