<template>
  <label class="toggle">
    <input
      type="checkbox"
      v-model="inputValue"
      @input="updateValue(inputValue)"
      class="input"
    />
    <div :class="['labels increase', { increaseChecked: !inputValue }]">
      <span>{{ $t('pages.sequence.sort_panel_settings_order_increase') }}</span>
      <i class="bi bi-sort-up"></i>
    </div>
    <div :class="['labels decrease', { decreaseChecked: inputValue }]">
      <span>{{ $t('pages.sequence.sort_panel_settings_order_decrease') }}</span>
      <i class="bi bi-sort-down"></i>
    </div>
  </label>
</template>

<script setup lang="ts">
import { ref, watchEffect } from 'vue'
const emit = defineEmits<{
  (e: 'trigger', value: { isIncreaseChecked: boolean }): void
}>()
let inputValue = ref<boolean>(false)
const props = defineProps({
  increased: { type: Boolean, default: false }
})
watchEffect(() => {
  inputValue.value = !props.increased
})

function updateValue(value: boolean): void {
  inputValue.value = value
  emit('trigger', { isIncreaseChecked: value })
}
</script>

<style scoped lang="scss">
.toggle {
  position: relative;
  width: 14.5rem;
  background-color: var(--blue-very-pale);
  padding: toRem(0.7);
  border-radius: toRem(0.7);
  height: toRem(4.5);
  cursor: pointer;
}
.input {
  width: 100%;
  border: none;
  appearance: none;
}
.labels {
  position: absolute;
  top: toRem(0.7);
  padding: toRem(0.5) toRem(1);
  color: var(--grey-semi-dark);
  @include text(s-r-regular);
  span {
    margin-right: toRem(0.5);
  }
}
.increase {
  left: toRem(0.7);
}
.decrease {
  right: toRem(0.7);
}
.increaseChecked,
.decreaseChecked {
  background-color: var(--blue-dark);
  color: var(--white);
  border-radius: toRem(0.7);
}
</style>
