<template>
  <span :class="['sequence-status', status]">{{ sequenceStatus }}</span>
</template>

<script setup lang="ts">
import { computed } from 'vue'
import { useI18n } from 'vue-i18n'
const { t } = useI18n()

const props = defineProps({
  status: { type: String, default: null }
})
const sequenceStatus = computed((): string => {
  if (props.status === 'ready') return t('pages.sequence.sequence_published')
  if (props.status === 'hidden') return t('pages.sequence.sequence_hidden')
  return t('pages.sequence.sequence_waiting')
})
</script>

<style scoped lang="scss">
.sequence-status {
  height: fit-content;
  border-radius: toRem(0.4);
  padding: toRem(0.3) toRem(0.8);
  color: var(--white);
  margin-right: toRem(1);
  display: flex;
  align-items: center;
  width: fit-content;
  @include text(xs-r-regular);
  &.ready {
    background-color: var(--green);
    border: toRem(0.1) solid var(--green);
  }
  &.waiting {
    background-color: var(--orange);
    border: toRem(0.1) solid var(--orange);
  }
  &.hidden {
    background-color: var(--red-pale);
    border: toRem(0.1) solid var(--red-pale);
  }
}
</style>
