<template>
  <div class="tab">
    <button
      data-test="button-photos"
      :class="['tablinks', { selected: panelSelected === 'photos' }]"
      :disabled="isLoading"
      @click="$emit('trigger', 'photos')"
    >
      {{ $t('pages.sequence.button_panel_photos') }}
    </button>
    <button
      v-if="isSequenceOwner"
      data-test="button-orientation"
      :class="['tablinks', { selected: panelSelected === 'orientation' }]"
      :disabled="isLoading"
      @click="$emit('trigger', 'orientation')"
    >
      {{ $t('pages.sequence.button_panel_orientation') }}
    </button>
    <button
      v-if="isSequenceOwner"
      data-test="button-sort"
      :class="['tablinks', { selected: panelSelected === 'sort' }]"
      :disabled="isLoading"
      @click="$emit('trigger', 'sort')"
    >
      {{ $t('pages.sequence.button_panel_sort') }}
    </button>
  </div>
</template>

<script setup lang="ts">
defineProps({
  panelSelected: { type: String, default: '' },
  isLoading: { type: Boolean, default: false },
  isSequenceOwner: { type: Boolean, default: false }
})
</script>

<style scoped lang="scss">
.tab {
  display: flex;
  width: 100%;
  @include text(s-regular);
}
.tablinks {
  border: none;
  border-top-right-radius: toRem(0.5);
  border-top-left-radius: toRem(0.5);
  margin-right: toRem(0.3);
  background-color: var(--blue-very-pale);
  padding: toRem(1);
}
.selected {
  background-color: var(--blue-semi-pale);
  color: var(--blue-dark);
  font-weight: 600;
}
</style>
