<template>
  <div :id="id" class="entry-viewer"></div>
</template>

<script setup lang="ts">
import axios from 'axios'
import { onMounted, onUnmounted, ref, computed } from 'vue'
import { useSequenceStore } from '@/store/sequence'
import { Viewer, StandaloneMap, Editor } from 'geovisio'
import { createUrlLink, manageSlashUrl, getEnv } from '@/utils'
import { isAuth } from '../composables/auth'
import {
  createLink,
  createSequenceLink,
  createFullScreenButton
} from '@/components-viewer/reportLink'
import { useI18n } from 'vue-i18n'
import { sessionCookieDecoded } from '@/utils/auth'
import type {
  ViewerInterface,
  EditorInterface,
  StandAloneInterface,
  ParamsViewerInterface,
  ParamsEditorStandaloneInterface
} from '@/views/interfaces/common'
const sequenceStore = useSequenceStore()
const { isLogged } = isAuth()
const { t, locale } = useI18n()
let mapIsLoaded = ref<boolean>(false)
let viewer = ref()
const props = defineProps({
  id: { type: String, default: 'viewer' },
  fetchOptions: { type: Object, default: {} },
  viewerType: { type: String, default: 'viewer' },
  bbox: { type: Array, default: null },
  picId: { type: String, default: null },
  seqId: { type: String, default: null },
  userId: { type: [String, null], default: null },
  seqBruteDeg: { type: Number, default: 0 },
  roadDegrees: { type: Number, default: 0 }
})
const userName = computed((): string => {
  const cookie = sessionCookieDecoded()
  if (cookie && cookie.account) return cookie.account.name
  return ''
})
defineExpose({
  viewer
})
async function getSequenceId(imgId: string): Promise<{
  sequenceId: string
  username: string
}> {
  const { data } = await axios.get(`api/search?ids=${imgId}`)
  return {
    sequenceId: data.features[0].collection,
    username: data.features[0].properties['geovisio:producer']
  }
}
function createViewerButton(link: HTMLDivElement): void {
  link.innerHTML = `<div id='instanceBtn'>${createFullScreenButton()}</div>`
  viewer.value.addEventListener(
    'psv:picture-loaded',
    async (e: { detail: { picId: string } }): Promise<void> => {
      const sequenceInformation = await getSequenceId(e.detail.picId)
      let href: string
      if (isLogged.value && sequenceInformation.username === userName.value) {
        href = `${window.location.origin}/sequence/${sequenceInformation.sequenceId}?currentPic=${e.detail.picId}`
        link.innerHTML = `<div id='instanceBtn'>
                           ${createFullScreenButton()}
                           ${createSequenceLink(
                             href,
                             t('pages.home.sequence_title')
                           )}
                          </div>`
        sequenceStore.addSequence(e.detail.picId)
      } else {
        href = t('pages.home.report_mail', {
          picId: e.detail.picId,
          link: createUrlLink(e.detail.picId)
        })
        link.innerHTML = `<div id='instanceBtn'>
                           ${createFullScreenButton()}
                           ${createLink(
                             href,
                             t('pages.home.report_button_text')
                           )}
                          </div>`
      }
    }
  )
}
function setupViewer(params: ParamsViewerInterface): void {
  const maxZoom = getEnv('VITE_MAX_ZOOM')
  const zoom = getEnv('VITE_ZOOM')
  const center = getEnv('VITE_CENTER')
  const mapAttribution = getEnv('VITE_MAP_ATTRIBUTION')
  const reportLink = document.createElement('div')
  reportLink.className = 'gvs-group gvs-group-large gvs-group-btnpanel'
  let paramsViewer: ViewerInterface = {
    ...params,
    widgets: { customWidget: reportLink },
    map: { startWide: true }
  }
  if (mapAttribution && mapAttribution.length > 0) {
    paramsViewer = {
      ...paramsViewer,
      widgets: { ...paramsViewer.widgets, mapAttribution: mapAttribution }
    }
  }
  if (params.map && params.map.raster) {
    paramsViewer = {
      ...paramsViewer,
      map: {
        ...paramsViewer.map,
        raster: params.map.raster
      }
    }
  }
  if (center && center.length > 0) {
    const centerMap = center.split(',').map((el: string) => parseInt(el))
    paramsViewer = {
      ...paramsViewer,
      map: {
        ...paramsViewer.map,
        center: centerMap
      }
    }
  }
  if (zoom && zoom.length > 0) {
    paramsViewer = {
      ...paramsViewer,
      map: {
        ...paramsViewer.map,
        zoom: parseFloat(zoom)
      }
    }
  }
  if (maxZoom && maxZoom.length > 0) {
    paramsViewer = {
      ...paramsViewer,
      map: {
        ...paramsViewer.map,
        maxZoom: parseInt(maxZoom)
      }
    }
  }
  viewer.value = new Viewer(
    'viewer', // Div ID
    `${manageSlashUrl()}api`,
    {
      ...paramsViewer
    }
  )
  if (viewer.value && viewer.value.addEventListener) {
    createViewerButton(reportLink)
  }
}
function setupStandAlone(params: ParamsViewerInterface): void {
  let paramsMap: StandAloneInterface = {
    ...params,
    padding: { top: 70, bottom: 70, left: 70, right: 70 },
    minZoom: 7,
    maxZoom: 14,
    speed: 10,
    zoom: 14
  }
  if (props.userId) paramsMap = { ...paramsMap, users: [props.userId] }
  const bbox = [props.bbox[0], props.bbox[1], props.bbox[2], props.bbox[3]]
  viewer.value = new StandaloneMap(
    props.id, // Div ID
    `${manageSlashUrl()}api`,
    {
      ...paramsMap,
      bounds: bbox
    }
  )
}
function setupEditor(params: ParamsEditorStandaloneInterface): void {
  let paramsMap: EditorInterface = { ...params, minZoom: 7 }
  if (props.seqId) paramsMap = { ...paramsMap, selectedSequence: props.seqId }
  if (props.userId) paramsMap = { ...paramsMap, users: [props.userId] }
  try {
    viewer.value = new Editor(
      'viewer', // Div ID
      `${manageSlashUrl()}api`,
      {
        ...paramsMap
      }
    )
  } catch (e) {
    console.log(e)
  }
}
async function initViewer(): Promise<void> {
  const tiles = getEnv('VITE_TILES')
  const rasterTile = getEnv('VITE_RASTER_TILE')
  let params: ParamsViewerInterface | ParamsEditorStandaloneInterface = {
    lang: locale.value
  }
  if (rasterTile && rasterTile.length > 0) {
    const raster = JSON.parse(rasterTile)
    if (props.viewerType !== 'viewer') params = { ...params, raster }
    else params = { ...params, map: { raster } }
  }
  if (tiles && tiles.length) {
    params = { ...params, style: await fetchTiles(tiles) }
  }
  if (props.picId && props.picId.length) {
    params = { ...params, selectedPicture: props.picId }
  }
  if (props.fetchOptions && props.fetchOptions.credentials) {
    params = { ...params, fetchOptions: { ...props.fetchOptions } }
  }
  try {
    if (props.viewerType === 'standAlone') setupStandAlone(params)
    else if (props.viewerType === 'editor') setupEditor(params)
    else setupViewer(params)
    mapIsLoaded.value = true
  } catch (err) {
    mapIsLoaded.value = true
  }
}
onMounted(() => {
  initViewer()
})
onUnmounted((): void => {
  if (viewer.value && props.viewerType) {
    viewer.value.addEventListener('psv:picture-loaded', (): void => {
      viewer.value.destroy()
    })
  }
})

async function fetchTiles(tiles: string): Promise<void> {
  return fetch(tiles)
    .then((res) => res.json())
    .then((style) => style)
}
</script>

<style scoped lang="scss">
.entry-viewer {
  font-size: initial;
  position: relative;
  width: 100%;
  height: 100%;
}
.gvs-focus-map .entry-report-button {
  display: none;
}
@media (max-width: toRem(57.6)) {
  .entry-viewer {
    height: 100vh;
    height: calc(100dvh - #{toRem(0)});
  }
  :deep(.gvs-main .gvs-corner-space) {
    padding: toRem(2);
  }
  :deep(.gvs-mini) {
    bottom: toRem(2) !important;
    left: toRem(2) !important;
  }
  :deep(.maplibregl-ctrl-top-right .maplibregl-ctrl) {
    margin-right: toRem(2);
  }
}
</style>
