@mixin text($size) {
  @if $size == h1 {
    font-weight: 590;
    line-height: toRem(2.6);
    font-size: toRem(2.2);

    @media (max-width: toRem(57.6)) {
      font-size: toRem(2);
    }
  }
  @if $size == h2 {
    font-weight: 590;
    font-size: toRem(2);
    line-height: toRem(2.4);

    @media (max-width: toRem(57.6)) {
      font-size: toRem(1.6);
    }
  }
  @if $size == h3 {
    font-weight: 590;
    font-size: toRem(1.8);
    line-height: toRem(2.1);

    @media (max-width: toRem(57.6)) {
      font-size: toRem(1.6);
    }
  }
  @if $size == h4 {
    font-weight: normal;
    font-size: toRem(1.8);
  }
  @if $size == xxl-regular {
    font-size: toRem(3.2);
    font-weight: normal;
  }
  @if $size == m-regular {
    font-size: toRem(1.6);
    font-weight: normal;
  }
  @if $size == s-regular {
    font-size: toRem(1.4);
    font-weight: normal;
  }

  @if $size == m-r-regular {
    font-size: toRem(1.6);
    font-weight: normal;
    @media (max-width: toRem(57.6)) {
      font-size: toRem(1.4);
    }
  }
  @if $size == s-r-regular {
    font-size: toRem(1.4);
    font-weight: normal;
    @media (max-width: toRem(57.6)) {
      font-size: toRem(1.2);
    }
  }
  @if $size == xs-r-regular {
    font-size: toRem(1.2);
    font-weight: normal;
    @media (max-width: toRem(57.6)) {
      font-size: toRem(1);
    }
  }
  @if $size == xss-regular {
    font-size: toRem(1);
    font-weight: normal;
  }
}
