html {
  height: -webkit-fill-available;
}
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}
#app {
  min-height: 100vh;
  width: 100%;
  overflow: auto;
}

ul,
ol,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  list-style: none;
}
:root {
  --white: #ffffff;
  --black: #181818;
  --black-pale: #1b1a17;
  --red: #f70000;
  --red-pale: #ff726f;
  --grey: #f5f5f5;
  --grey-pale: #cfd2cf;
  --grey-semi-dark: #808080;
  --grey-dark: #3e3e3e;
  --blue-dark: #0a1f69;
  --blue: #2954e9;
  --blue-semi-pale: #f2f5ff;
  --blue-pale: #f2f5ff;
  --blue-very-pale: #f9faff;
  --blue-geovisio: #34495e;
  --beige: #f5f3ec;
  --yellow: #fec868;
  --yellow-pale: #FFFACD;
  --orange: #ff6f00;
  --orange-pale: #fffafa;
  --green: #7ec636;
  --green-pale: #f0ffee;
}

@media (min-width: toRem(102.4)) {
  body {
    display: flex;
    place-items: center;
  }
}
