<script setup lang="ts">
import { ref } from 'vue'
import { RouterView } from 'vue-router'
import { authConfig, isAuth } from './composables/auth'
const { authConf } = authConfig()
const { isLogged } = isAuth()
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'

let focusMap = ref<string>('focus-map')
function setFocusMap(value: string) {
  focusMap.value = value
}
</script>

<template>
  <metainfo>
    <template v-slot:title="{ content }">{{ content }}</template>
  </metainfo>
  <Header
    :auth-enabled="
      authConf && authConf.auth && authConf.auth.enabled
        ? authConf.auth.enabled
        : true
    "
    :user-profile-url="
      authConf &&
      authConf.auth &&
      authConf.auth.user_profile &&
      authConf.auth.user_profile.url
        ? authConf.auth.user_profile.url
        : ''
    "
  />
  <RouterView @trigger="setFocusMap" :class="{ logged: isLogged }" />
  <Footer v-if="!isLogged" class="footer" />
</template>
<style scoped lang="scss">
@media (max-width: toRem(57.6)) {
  .footer {
    display: none;
  }
}
</style>
